@import '../../styles/variables.scss';

.main_title {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: $light;
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: $light;
  margin-top: 24px;
  @media screen and (max-width: 768px) {
    font-size: 22px;
  }
}

.content {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: $light;
  margin-top: 7px;
}

.tile_head {
  height: 550px;
  background: url('../../public/assets/images/banner08.jpg');
  @media screen and (max-width: 768px) {
    height: 1150px;
  }
}

.wild_logo {
  width: 100%;
  height: auto;
  position: absolute;
  text-align: center;
  margin-top: 50px;
  @media screen and (max-width: 768px) {
    margin-top: 100px;
  }
}

.bg_contact {
  background-color: #f4f4f4;
}

.custom_contact {
  margin: 88px auto;
  @media screen and (max-width: 768px) {
    margin: 35px auto;
  }
}

.custom_main {
  @media screen and (min-width: 768px) {
    padding: 0 75px;
  }
}
.contact_from {
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.contact_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: $light-black;
}
.contact_content {
  font-size: 14px;
  line-height: 150%;
  color: $hex-grey;
}

.svg_custom {
  @media screen and (max-width: 768px) {
    svg {
      height: 89px !important;
      width: 89px !important;
    }
  }
}

.form_label {
  font-size: 18px;
  line-height: 150%;
  color: $light-black;
}
.form_control {
  border: 1px solid $hex-light-grey;
  min-height: 40px;
  &:focus {
    background-color: $light;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: $hex-light-grey;
  }
}

.contact_btn {
  margin-top: 28px;
  width: 133px;
  height: 59px;
  background: $persian-red-color;
  border-radius: 4px;
  border: none;
  float: right;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $light;
}
