@import '../../styles/variables.scss';

.nav_section {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  color: #c4c4c4;
}
.nav_section_content {
  font-size: 14px;
  line-height: 180%;
  color: $light-gray;
  cursor: pointer;
  &:hover {
    color: #fff;
    text-decoration-line: underline;
  }
  &.active,
  &:active {
    color: #ffffff !important;
    text-decoration-line: underline;
  }
}
