@import '../../styles/variables.scss';

.shipping_header {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: $light-black;
}
.checkbox_first {
  display: flex;
  align-items: center;
}
.checkbox_label {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: $light-black;
  border: none !important;
}
.radioButton {
  height: 70px;
  background: $snow_color;
  border: 1px solid $silver_color;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 23px;
  label {
    border: none !important;
  }
}
.payment_button {
  width: 308px;
  height: 49px;
  background: $persian-red-color;
  border-radius: 4px;
  border: hidden;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: $light;
  float: right;
  margin-bottom: 12px;
}

.discount_code {
  height: 100%;
  background: $snow_color;
  border: 1px solid $silver_color;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  margin-top: 23px;
  padding: 22px;
  div {
    margin: 0 !important;
  }
  label {
    display: none !important;
  }
  input {
    padding: 0.375rem 0.75rem;
  }
}
.input_Field {
  margin-right: 19px !important;
  font-size: 14px;
  height: 48px;
  color: $light-black;
  width: 537px;
  padding-left: 14px;
  border-radius: 4px;
  border: 1px solid $silver_color;
}
.apply_button {
  width: 158px;
  height: 46px;
  background: $persian-red-color;
  border-radius: 4px;
  border: hidden;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: $light;
}
.separator {
  margin: 53px 0;
  color: inherit;
  border: 0;
  opacity: 1.25;
  background-color: $border-light;
}
.payment_form {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  padding: 24px;
  margin-bottom: 18px;
}
.card_input_Field {
  margin-right: 19px !important;
  font-size: 16px;
  height: 48px;
  color: $light-black;
  width: 100%;
  padding-left: 14px;
  border-radius: 4px;
  border: 1px solid $gainsboro_color;
  padding-top: 16px;
  margin-bottom: 13px;

  &:focus {
    background-color: $light;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgb(244 245 247);
    box-shadow: 0 0 0 0.25rem rgb(251 251 251);
  }
  &[name='username'] {
    padding-top: 0 !important;
  }
}
.cardRadioButton {
  height: 70px;
  background: $snow_color;
  border: 1px solid $silver_color;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-top: 45px;
  label {
    border: none !important;
  }
}
.transLogo {
  svg {
    width: 31px;
    height: 46px;
  }
}

@media screen and (max-width: 768px) {
  .shipping_header {
    font-size: 18px;
    padding-bottom: 10px !important;
  }
  .checkbox_first {
    input {
      margin-bottom: 21px !important;
    }
  }
  .payment_button {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 41px;
  }
  .radioButton {
    margin-top: 36px;
  }
  .apply_button {
    width: 100%;
    position: unset;
    right: unset;
    top: unset;
  }
  .input_Field {
    margin-right: unset !important;
    width: 100% !important;
  }
  .discount_code {
    div {
      width: 100% !important;
    }
  }
  .separator {
    margin: 33px 0 !important;
  }
}
