@import '../../styles/variables.scss';

.custom_address {
  margin-bottom: 48px;
  input,
  select {
    padding-left: 0.75rem;
    background: $snow_color;
    &::placeholder {
      color: $light-black;
      font-size: 16px;
      line-height: 150%;
    }
  }
  select {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url('/assets/icons/arrow.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 18px) calc(1em + 0px),
      calc(100% - 15px) calc(1em + 2px), calc(100% - 2em) 0.5em;
  }
}

.address_line {
  margin: 62px 0 44px 0;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: $light-black;
}
.same_address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: $light-black;
}

.custom_shipping {
  margin-top: 20px;
  // margin-bottom: 40px;
  padding: 16px 48px;
  border: none;
  width: 308px;
  height: 49px;
  background: $persian-red-color;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: $light;
  float: right;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  @media screen and (max-width: 766px) {
    width: 100%;
  }
}
