@import '../../styles/variables.scss';
.content_text {
  height: 58px;
  font-size: 16px;
  line-height: 150%;
  color: $light-black;
}
.content_fire {
  box-sizing: border-box !important;
  position: absolute !important;
  width: 76px !important;
  bottom: -7px;
}
.content_container {
  width: 80% !important;
  background: #ebebeb !important;
  height: 108px !important;
  padding: 0 32px !important;
  border-radius: 8px !important;
  margin: 0 10% 5% 10% !important;
}
.content_decline_button {
  background: #ebebeb !important;
  border-radius: 4px !important;
  color: #878787 !important;
  font-size: 14px !important;
  padding: 8px 24px !important;
  margin: 5px !important;
  border: 1px solid #a0a0a0 !important;
  font-weight: 600 !important;
}
.content_allow_button {
  color: #fff !important;
  font-size: 14px !important;
  background: #3a4468 !important;
  border-radius: 4px !important;
  padding: 8px 24px !important;
  margin: 5px !important;
  border: 1px solid #3a4468 !important;
  font-weight: 600 !important;
}
.content_container_mobile {
  background: #fff !important;
  padding: 20px !important;
  max-height: 210px !important;
  margin-bottom: 25px !important;
  width: 100% !important;
  display: inherit !important;
}
.content_allow_button_mobile {
  color: #fff !important;
  font-size: 14px !important;
  background: #3a4468 !important;
  border-radius: 4px !important;
  padding: 8px 24px !important;
  width: 100% !important;
  margin: 15px 0 !important;
  border: 1px solid #3a4468 !important;
  font-weight: 600 !important;
}
.content_mobile {
  border-radius: 8px;
  background: #ebebeb;
  padding: 12px;
  height: 124px;
}
.content_text_mobile {
  font-size: 14px;
  line-height: 150%;
  color: $light-black;
}
.content_span {
  font-weight: 600;
  border-bottom: 1px dashed #3a4468;
}
.content_fire_mobile {
  right: 35px;
  position: absolute;
  margin-top: 10px;
}
.content_img_top {
  top: 18px;
}
