@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import 'font-awesome/css/font-awesome.min.css';

$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-base: $font-family-sans-serif !default;
$font-family-playfair: 'Playfair Display', serif;
$font-size-base: 1rem;
$line-height-base: 1.5;
$lato-font-path: '' !default;
$fontweight100: 100;
$fontweight200: 200;
$fontweight300: 300;
$fontweight400: 400;
$fontweight500: 500;
$fontweight600: 600;
$fontweight700: 700;
$fontweight800: 800;
$fontweight900: 900;

body {
  background-color: $white;
  // color: $grey-7d;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  font-weight: $fontweight400;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}
