h1, h2, h3, h4, h5, h6 {
  display: block;
  position: relative;
}

.title {
  &-xl {
    font-size: 64px;

    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }
  }

  &-lg {
    font-size: 36px;

    @include media-breakpoint-down(lg) {
      font-size: 30px;
    }
  }

  &-md {
    font-size: 24px;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }
  }

  &-sm {
    font-size: 24px;
  }
}

.small {
  font-size: 14px;
}