@import '../../../styles/variables.scss';

.popup_content {
  min-height: 100% !important;
}
.title_bar {
  display: flex;
  .popup_title {
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 78%;
    text-transform: uppercase;
    color: $light-black;
  }
}
.header_title {
  display: flex;
  align-items: center;
  border-bottom: 2px solid $persian-red-color;
  margin-bottom: 32px;
  .header_Info {
    font-size: 14px;
    color: rgb(125, 125, 125);
    padding: 12px;
    width: 85px;
  }
}
.btn_group {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  align-items: center;
  .btn_box {
    width: 63px;
    height: 21px;
    left: 735px;
    top: 754px;
    cursor: pointer;
  }
  .btn_Image {
    display: flex;
    position: absolute;
    padding-top: 2px;
  }
  .btn_back {
    padding-left: 20px;
  }
  .next_btn {
    width: 132px;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    background: $persian-red-color;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
  }
}
.bottom_line {
  justify-content: center;
  display: flex;
  margin-top: 64px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  color: $light-gray;
}

@media screen and (max-width: 768px) {
  .popup_title {
    font-size: 18px !important;
  }
}
