.header_benner {
  left: 100px;
  top: 255px;
  @media screen and (max-width: 991px) {
    left: 0;
    top: unset;
    bottom: 100px;
  }
}
.related_item_image {
  width: 100%;
  height: 500px;
  position: relative;
}
