@import '../../styles/variables.scss';

.unique_feature_section {
  background-position: center center;
  background-repeat: repeat;
  background-size: auto;
  background-color: $light;
  padding: 65px 0 80px;
}

@media (max-width: 991.98px) {
  .unique_feature_section {
    padding: 25px 12px 30px;
  }
}

.unique_feature_section .contain_box {
  background: $light;
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.06);
  max-width: 1065px;
  padding: 55px 110px 100px;
}

@media (max-width: 991.98px) {
  .unique_feature_section .contain_box {
    padding: 15px 15px 30px;
  }
}

.title_lg {
  font-size: 36px;
}

@media (max-width: 991.98px) {
  .title_lg {
    font-size: 30px;
  }
}
.unique_feature_item {
  margin-top: 72px;
}

@media (max-width: 991.98px) {
  .unique_feature_item {
    margin-top: 32px;
  }
}
@media (max-width: 575.98px) {
  .unique_feature_image img {
    width: 100%;
    margin: 0 auto;
  }
}
.unique_feature_content span {
  font-weight: 800;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: $persian-red-color;
  display: inline-block;
}

.unique_feature_content span i {
  display: inline-block;
  width: 24px;
  height: 1px;
  background-color: $persian-red-color;
  margin-left: 4px;
}

@media (max-width: 991.98px) {
  .unique_feature_content span {
    margin-top: 32px;
    margin-bottom: 4px;
  }
}

.unique_feature_content p {
  font-size: 14px;
  line-height: 160%;
  color: $hex-grey;
  margin-top: 16px;
  margin-bottom: 24px;
}

.unique_feature_video {
  position: relative;
}

.unique_feature_video img {
  width: 100%;
}
.title_md {
  font-size: 24px;
}

@media (max-width: 991.98px) {
  .title_md {
    font-size: 18px;
  }
}
.top_brand_video_play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  height: auto;
  width: auto;
}
.whatch_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 38px;
  background: $light-red-color;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: $persian-red-color;
  border: none;
  &:focus,
  &:active,
  &:hover {
    color: $light;
    background-color: $persian-red-color;
    border-color: $persian-red-color;
  }
}
.btn_view {
  width: 118px !important;
}
