@import '../../styles/variables.scss';
.search_input {
  z-index: 1;
  float: right;
  right: 146px;
  top: 0;
  .search_content {
    background-color: #3a4468;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }
  .input {
    height: 33px !important;
    background: transparent;
    border: 0.5px solid #adb9c7;
    box-sizing: border-box;
    border-radius: 100px;
    color: $light;
    padding: 14px !important;
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      /* Edge */
      color: #adb9c7;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #adb9c7;
    }

    &::placeholder {
      color: #adb9c7;
    }
  }
  .search_icon_size {
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    // top: 28px;
    margin-right: 10px;
  }
}
.search_product {
  height: calc(100vh - 0%);
  position: absolute;
  width: 23rem;
  z-index: 1024;
  top: 80px;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  transition: 0.3s;
  right: 0;
  .search_product_footer {
    border-top: 1px solid #f6f6f6;
    text-align: center;
    padding: 1rem 0;
    background-color: $light;
    width: 100vw;
    position: fixed;
    bottom: 0;
    z-index: 12;
    .search_product_btn {
      background-color: $persian-red-color;
      color: $light;
      width: 273px;
      height: 52px;
      justify-content: center;
      font-size: 14px;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
@media only screen and (max-width: 780px) {
  .search_input {
    width: 100% !important;
    position: absolute !important;
    margin-top: 80px !important;
    float: none !important;
    right: 0 !important;
    top: 0;
  }
  .input {
    width: 100%;
  }
  .search_product {
    top: 151px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .search_product_footer {
    width: 25rem !important;
  }
}

.menu_backdrop {
  z-index: 9;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  // position: absolute;
  display: none;
  min-height: 1050px;
  height: auto;
  top: 0;
}
