@import '../../styles/variables.scss';

.badge_count {
  margin: 0 10px;
  position: absolute;
  top: 20px;
  border-radius: 50%;
  padding: 5px 6px;
  background-color: $dark_red;
  color: $light;
  z-index: 2;
  font-weight: 500;
  font-size: 11px;
  line-height: 100%;
  height: 20px;
  width: 20px;
}
.menu_backdrop {
  opacity: 0.3;
  z-index: 7;
  background: rgba(199, 207, 207, 0.8);
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  display: none;
}
.sidenav {
  height: 100%;
  width: 500px;
  position: fixed;
  z-index: 9;
  top: 0;
  right: -780px;
  background-color: $light;
  transition: 0.5s;
  padding-top: 40px;
  z-index: 9999;
  .cart_sidebar {
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100% - 150px);
    overflow: auto;
    .cart_header {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: $light-black;
    }
    .badge {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 24px;
      padding: 4px 6px;
      position: relative;
      min-width: 19px;
      height: 19px;
      top: 5px;
      color: $light;
      font-weight: 500;
      font-size: 11px;
      line-height: 100%;
      background-color: $light-black;
      border-radius: 50%;
    }
    .items {
      font-weight: normal;
      font-size: 14px;
      line-height: 30px;
      color: $hex-grey;
      margin-left: 8px;
      text-transform: capitalize;
    }
    .closebtn {
      position: relative;
      font-size: 36px;
      color: $light-gray;
      cursor: pointer;
    }
  }
  .chekout_btn {
    background: $persian-red-color;
    border-radius: 4px;
    height: 72px;
    border: none;
    width: 100%;
    padding: 0 24px;
  }
  .button_price {
    background: $dark_red;
    color: $light;
    padding: 7px;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    border-radius: 4px;
  }
  .btn_icon {
    color: $light;
    padding: 0 0 0 10px;
    font-size: 23px;
  }
  .btn_title {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $light;
  }
  .total {
    height: 21px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $light-gray;
    padding-bottom: 8px !important;
  }
  .footer_btn {
    position: fixed;
    bottom: 0;
  }
  .sidenav_footer {
    position: absolute;
    bottom: 40px;
    width: 100%;
  }
}
@media only screen and (max-width: 780px) {
  .sidenav {
    width: 100%;
    overflow-y: scroll;
    .total {
      font-size: 13px;
      font-weight: 400;
    }
    .btn_title {
      font-weight: 400;
      font-size: 13px;
    }
    .button_price {
      font-weight: 400;
      font-size: 13px;
    }
  }
}
.custom_hr {
  margin: 0 0 32px 0;
  background-color: $mono-color-hex;
  color: $mono-color-hex;
  opacity: 1;
}
