@import '../../styles/variables.scss';

.new_Address {
  background-color: rgb(241, 245, 245);
  border: 1px solid transparent;
  overflow: auto;
  height: 100%;
  padding: 0px;
  transition: all 0.3s ease 0s, color 0s ease 0s, fill 0s ease 0s;
  display: flex;
  flex-direction: column;
  color: $persian-red-color;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 28vh;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: $persian-red-color;
    svg path {
      fill: rgb(255, 255, 255);
    }
  }
}

.new_address_padding {
  padding: 1rem 1.25rem;
}

.new_address_content {
  text-transform: uppercase;
  font-size: 1.125rem;
  text-align: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
}

.view_address {
  height: 100%;
  min-height: 28vh;
  display: block;
  background-color: rgb(241, 245, 245);
  padding: 30px;
  font-size: 0.875rem;
  // border: 2px solid rgb(33, 18, 94);
  cursor: pointer;
  span {
    display: block;
    margin-bottom: 0.625rem;
    font-weight: 600;
  }
}
