@import '../../styles/variables.scss';

.payment_form {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  padding: 24px;
  margin-bottom: 18px;
}
.card_input_Field {
  margin-right: 19px !important;
  font-size: 16px;
  height: 48px;
  color: $light-black;
  width: 100%;
  padding-left: 14px;
  border-radius: 4px;
  border: 1px solid $gainsboro_color;
  padding-top: 16px;
  margin-bottom: 13px;

  &:focus {
    background-color: $light;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgb(244 245 247);
    box-shadow: 0 0 0 0.25rem rgb(251 251 251);
  }
}
.input_Field {
  padding-top: unset !important;
}
.payment_button {
  width: 308px;
  height: 49px;
  background: $persian-red-color;
  border-radius: 4px;
  border: hidden;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: $light;
  float: right;
  margin-bottom: 12px;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
@media screen and (max-width: 768px) {
  .payment_button {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 41px;
  }
}

.cardRadioButton {
  height: 70px;
  background: $snow_color;
  border: 1px solid $silver_color;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  label {
    border: none !important;
  }
}
.transLogo {
  svg {
    width: 31px;
    height: 46px;
  }
}
