@import '../../styles/variables.scss';
.single_product_detail {
  position: relative;
  .product_details {
    width: 394px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: $hex-grey;
  }
  .product_detail_header {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: $light-black;
    display: flex;
    align-items: center;
  }
  .instock {
    color: $persian-red-color;
  }
}
.buynow_btn {
  align-items: center;
  width: 129px;
  height: 49px;
  background: $persian-red-color;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: $light;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  &:focus,
  &:active,
  &:hover {
    background-color: $persian-red-color;
    border-color: $persian-red-color;
    color: $light;
    box-shadow: none !important;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.add_btn {
  width: 129px;
  height: 49px;
  justify-content: center;
  align-items: center;
  background: $light-red-color;
  border-radius: 4px;
  color: $persian-red-color;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
@media only screen and (max-width: 780px) {
  .single_product_detail {
    top: 39px;
    .product_details {
      width: auto;
    }
  }
  .buynow_btn {
    width: 50%;
    border-radius: 0;
  }
  .add_btn {
    width: 50%;
    border-radius: 0;
  }
}
