@import '../../styles/variables.scss';

.filter_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 48px 17px 30px;
  width: 108px;
  height: 38px;
  left: 48px;
  top: 110px;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  background: $persian-red-color;
  border-radius: 4px;
  color: #fff;
  border: none;
  margin: 23px;
}
.filter_clear_all {
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  border-radius: 4px;
  color: $persian-red-color;
  border: none;
  margin: 36px 23px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.filter_icon {
  position: absolute;
  left: 94px;
  top: 117px;
}
.filter_mobile {
  display: none;
}
.menu_backdrop {
  z-index: 9;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  // position: absolute;
  display: none;
  min-height: 1050px;
  height: auto;
  top: 0;
}
.sidenav {
  height: 800px;
  // height: auto;
  overflow: auto;
  top: 0px;
  width: 274px;
  position: absolute;
  z-index: 11;
  top: 81px;
  left: -320px;
  background-color: $light;
  // overflow-x: hidden;
  transition: 0.5s;
  padding-top: 15px;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.12);
}
.closebtn {
  position: absolute;
  top: 0px;
  right: 12px;
  font-size: 43px;
  color: #d8d8d8;
  cursor: pointer;
  font-weight: 200;
}

@media only screen and (max-width: 780px) {
  .filter_search {
    display: none;
  }
  .filter_mobile {
    display: block !important;
    .filter_btn_mobile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px 25px;
      height: 38px;
      left: 48px;
      top: 110px;
      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      text-transform: uppercase;
      background: $persian-red-color;
      border-radius: 4px;
      color: #fff;
      border: none;
      margin: 23px;
    }
  }
}

.filter_text {
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  text-transform: uppercase;
  color: $light-black;
  padding-left: 12px;
  margin-top: 4px;
}

.filter_title {
  // font-weight: 300;
  // font-size: 18px;
  // line-height: 120%;
  // color: $light-black;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: $light-black;
}

.filter_name {
  // font-style: normal;
  // font-weight: 300;
  // font-size: 16px;
  // line-height: 120%;
  font-weight: 300;
  font-size: 13px;
  line-height: 120%;
  color: #818181;
}

.product_size_btn {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $light-black;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    color: $persian-red-color;
  }
}

.active {
  box-shadow: inset 0 0 0 2px $light !important;
  border: 2px solid $light-black !important;
}

.line_verticel {
  border: 0.75px solid #f3f3f3;
  margin: 13px 0;
}

.grid_template {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
}
