@import '../../styles/variables.scss';

.font_weight_600 {
  font-weight: 600;
}

.custom_table {
  thead {
    tr {
      border-bottom: 0.5px solid $border-light;
      height: 50px;
      th {
        font-size: 14px;
        line-height: 150%;
        color: #888888;
        font-weight: normal;
        min-width: 150px;
      }
    }
  }
  tbody {
    tr {
      height: 132px;
      border-bottom: 0.5px solid $border-light;
      td,
      a {
        font-size: 16px;
        line-height: 150%;
        color: $light-black;
      }
    }
  }
}

.minwidth_100 {
  min-width: 100px !important
}

.minwidth_120 {
  min-width: 120px !important;
}

