.social_icon {
  padding: 0 4px;
  svg * {
    transition: 0.3s;
    &:hover {
      fill: #ffffff;
    }
  }
}

.contect_icon {
  padding: 0 8px;
  svg * {
    fill: #7d7d7d;
    transition: 0.3s;
    stroke: #ffffff;
    &:hover {
      opacity: 0.7 !important;
    }
  }
}
