@import '../../styles/variables.scss';

.inputField {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  margin-top: 20px;
  &:focus {
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgb(244 245 247);
    box-shadow: 0 0 0 0.25rem rgb(251 251 251);
  }
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url('/assets/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 18px) calc(1em + 0px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2em) 0.5em;
}

.custom_addreess {
  input,
  select {
    &::placeholder {
      color: $light-black;
      font-size: 16px;
      line-height: 150%;
    }
  }
}
