// .footer {
//   padding: 55px 0 35px;
//   background-color: $dark;

//   @include media-breakpoint-down(lg) {
//     padding: 32px 20px 24px;
//   }

//   &-info {
//     @include media-breakpoint-up(lg) {
//       display: flex;
//     }

//     &-logo {
//       flex: 0 0 182px;

//       @include media-breakpoint-down(lg) {
//         margin-bottom: 12px;
//       }
//     }

//     &-about {
//       flex: 1;
//       max-width: 290px;

//       p {
//         color: $grey-7d;
//         font-size: 14px;
//         margin-bottom: 32px;

//         @include media-breakpoint-down(lg) {
//           margin-bottom: 32px;
//         }
//       }

//       a {
//         display: inline-block;
//         height: 40px;
//         border: 1px solid $grey-7d;
//         border-radius: 4px;
//         color: $grey-7d;
//         font-size: 14px;
//         font-weight: $fontweight500;
//         text-transform: uppercase;
//         text-align: center;
//         padding: 12px 24px;
//         line-height: 100%;

//         &:hover {
//           background-color: $white;
//           color: $dark;
//           border-color: $white;
//         }
//       }
//     }
//   }

//   &-title {
//     font-weight: $fontweight500;
//     font-size: 16px;
//     text-transform: uppercase;
//     color: $white;
//     margin-bottom: 24px;

//     @include media-breakpoint-up(lg) {
//       padding-left: 25px;
//     }

//     @include media-breakpoint-down(lg) {
//       margin-top: 32px;
//       margin-bottom: 20px;
//     }
//   }

//   &-link {
//     display: flex;
//     flex-direction: column;

//     @include media-breakpoint-up(lg) {
//       padding-left: 25px;
//     }

//     a {
//       color: $grey-7d;
//       font-size: 14px;
//       line-height: 240%;

//       &:hover {
//         color: $white;
//         text-decoration: underline;
//       }
//     }
//   }

//   &-social {
//     display: flex;

//     @include media-breakpoint-up(lg) {
//       padding-left: 25px;
//     }

//     a {
//       margin-right: 10px;
//       display: inline-block;
//       opacity: 0.25;

//       @include media-breakpoint-down(lg) {
//         margin-right: 8px;
//       }

//       &:last-child {
//         margin-right: 0;
//       }

//       &:hover {
//         opacity: 1;
//       }
//     }
//   }

//   &-copyright {
//     border-top: 1px solid rgba($color: $grey-88, $alpha: 0.16);
//     margin-top: 32px;
//     padding-top: 16px;
//     color: rgba($color: $white, $alpha: 0.24);
//     font-size: 11px;
//     line-height: 16px;
//     text-align: right;

//     @include media-breakpoint-down(lg) {
//       margin-top: 40px;
//       padding-top: 16px;
//       text-align: center;
//     }
//   }
// }
