.header {
  border: 1px solid $black;
  box-shadow: 0px 4px 4px rgba($color: $black, $alpha: 0.25) rgba;
  background-color: rgba($color: $grey-25, $alpha: 0.72);

  // &.header-top {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   z-index: 1;
  // }

  .container {
    max-width: 1400px;
  }

  .navbar {
    padding: 0;
  }

  .header-menu-left {
    padding-top: 0;
    padding-bottom: 0;

    img {
      @include media-breakpoint-down(lg) {
        max-height: 45px;
      }
    }
  }

  .header-menu-center {
    ul {
      li {
        .nav-link {
          position: relative;
          color: $grey-a1;
          font-weight: $fontweight500;
          font-size: 15px;
          line-height: 22px;
          padding: 29px 0;
          margin: 0 40px;

          @media screen and (min-width: 990px) and (max-width: 1200px) {
            margin: 0 20px;
          }

          &:before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            background-color: $transparent;
            width: 100%;
            height: 2px;
          }

          &.active {
            color: $white;

            &:before {
              background-color: $white;
            }
          }

          &:hover {
            color: $white;
          }
        }
      }
    }

    .menu {
      @include media-breakpoint-down(lg) {
        display: none !important;
      }
    }
  }

  .header-menu-right {
    display: flex;
    align-items: center;
    list-style-type: none;

    li {
      margin-left: 10px;
      &.header-search {
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      &.header-user {
        &.dropdown {
          .dropdown-toggle {
            &:after {
              content: none;
            }
          }

          .dropdown-menu {
            box-shadow: 0px 4px 24px rgba($color: $grey-25, $alpha: 0.1);
            min-width: 185px;
            border: 0;
            border-radius: 0;
            top: 66px;
            margin-top: 0;
            padding-top: 16px;
            padding-bottom: 26px;

            li {
              margin-left: 0;
              a {
                display: block;
                height: auto;
                width: 100%;
                border-radius: 0;
                color: $grey-7d;
                font-size: 15px;
                padding: 8px 24px;
                text-transform: capitalize;

                &:hover {
                  color: $primary;
                  background-color: $secondary;
                }

                &.dropdown-logout {
                  margin-top: 24px;
                  background-color: $secondary;
                  border: 1px solid $primary;
                  border-radius: 4px;
                  padding: 6px 16px;
                  font-weight: $fontweight500;
                  font-size: 14px;
                  line-height: 150%;
                  color: $primary-c6;
                  max-width: 90px;
                  margin-left: auto;
                  margin-right: auto;

                  &:hover {
                    background-color: $primary;
                    color: $white;
                  }
                }
              }
            }

            &:after {
              content: '';
              position: absolute;
              top: -9px;
              right: 12px;
              display: inline-block;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 12px 12px 12px;
              border-color: transparent transparent $white transparent;
            }
          }
        }
      }

      &.header-cart {
        a {
          span {
            height: 20px;
            width: 20px;
            background-color: $primary;
            border-radius: 100%;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: $fontweight500;
            font-size: 11px;
            line-height: 100%;
            position: absolute;
            top: 5px;
            right: 5px;

            @include media-breakpoint-down(lg) {
              top: 0;
              right: 0;
            }
          }
        }
      }

      &.header-menu {
      }

      a {
        height: 50px;
        width: 50px;
        background-color: $transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        position: relative;

        &:hover {
          background-color: $grey-47;
        }

        @include media-breakpoint-down(lg) {
          height: 40px;
          width: 40px;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    border-bottom: 0;
    box-shadow: none;
    padding: 5px 0;
  }
}
