.header-sidebar {
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  transition: 0.5s;
  overflow-x: auto;

  .header-sidebar-close {
    padding-top: 45px;
    padding-right: 40px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .header-sidebar-menu {
    padding-top: 89px;
    padding-bottom: 30px;
    list-style: none;
    z-index: 3;
    li {
      a {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $transparent;
        padding: 0px 0px;
        text-decoration: none;
        height: 54px;

        .header-sidebar-menu-icon {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          background-color: #adb9c7;
          border: 2px solid #adb9c7;
          margin-right: 20px;
          margin-left: 24px;
          svg {
            vertical-align: middle;
          }
        }

        .header-sidebar-menu-title {
          font-size: 20px;
          color: $dark;

          small {
            display: block;
            font-size: 13px;
            color: $grey-6c;
          }
        }
        &:hover {
          //   background-color: $secondary;

          //   .header-sidebar-menu-icon {
          //     background-color: $white;
          //     border-color: $primary;
          //   }

          .header-sidebar-menu-title {
            color: $primary;
          }
        }
      }
    }
  }
  .header-sidebar-link {
    list-style: none;
    margin-top: auto;
    z-index: 3;
    li {
      margin-bottom: 20px;
      padding-left: 90px;
      a {
        font-size: 12px;
        color: $grey-68;
        text-decoration: none;
        &:hover {
          color: $dark;
          text-decoration: underline;
        }
      }
    }
  }

  .header-sidebar-copyright {
    font-size: 12px;
    line-height: 18px;
    color: $grey-af;
    margin-top: 41px;
    margin-bottom: 25px;
    text-align: center;
  }

  .header-sidebar-image {
    background-image: url('../../../public/assets/images/Wildfiretv_sidebar.png');
    background-position: bottom right;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 130px;
    right: 0;
    z-index: -1;
  }
}

.offcanvas-backdrop {
  background-color: $white;
}
