@import '../../../styles/variables.scss';

.viewallreview_btn {
  width: 137px;
  height: 38px;
  background: $persian-red-color;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 129%;
  color: $light;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  float: right;
  margin-bottom: 10px;
  &:focus,
  &:active,
  &:hover {
    background-color: $persian-red-color;
    border-color: $persian-red-color;
    color: $light;
    box-shadow: none !important;
  }
}

.customer_star_icon {
  color: $Fuel-Yellow;
  font-size: 18px;
}

.form_label {
  color: $light-gray;
}
