@import '../../styles/variables.scss';

.complete_order {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 117px 0;
}
.thank_you {
  font-style: normal;
  font-weight: 300;
  font-size: 47px;
  line-height: 150%;
  text-align: center;
  color: $night_rider_color;
}
.your_order {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 150%;
  text-align: center;
  color: $night_rider_color;
  margin-bottom: 30px;
}
.continue_shopping {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: $persian-red-color;
  width: 222px;
  height: 49px;
  background: $light-red-color;
  border-radius: 4px;
  border: none;
  padding: 0.975rem 0.75rem;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #fff;
    background: $persian-red-color;
  }
}
.order_detail {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: $light;
  width: 222px;
  height: 49px;
  background: $persian-red-color;
  border-radius: 4px;
  border: none;
  padding: 0.975rem 0.75rem;
  justify-content: center;
  align-items: center;
  &:hover {
    color: $persian-red-color;
    background: $light-red-color;
  }
}
.desc {
  border-top: 1px solid $border-light;
  padding: 33px 0;
}

@media screen and (max-width: 768px) {
  .complete_order {
    padding: 0 30px;
    margin-top: 85px;
  }
  .thank_you {
    font-size: 35px;
  }
  .your_order {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .complete_btn {
    width: 100%;
    margin-top: 15px;
  }
  .order_detail {
    width: 100%;
    margin: 0 !important;
  }
  .continue_shopping {
    width: 100%;
    margin: 27px 0 !important;
  }
  .desc {
    padding-bottom: 0px !important;
  }
}
