@import '../../../styles/variables.scss';

.title_name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: $light-black;
  svg * {
    stroke: $persian-red-color;
  }
}
.mobile_title_name {
  display: grid;
  grid-template-columns: 25px 1fr;
  margin-top: 1.5rem;
  text-align: center;
}

.header_wishlist {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding: 22px;
  border-bottom: 1px solid #e8e8e8;
  span {
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
  }
}
.buynow_btn {
  width: 129px;
  height: 49px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  background: $persian-red-color !important;
  &:focus,
  &:active,
  &:hover {
    background-color: $persian-red-color;
    border-color: $persian-red-color;
    color: $light;
    box-shadow: none !important;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.addtocart_btn {
  width: 129px;
  height: 49px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $persian-red-color;
  background: $light-red-color !important;
  border: none !important;
  &:focus,
  &:active,
  &:hover {
    background-color: $persian-red-color;
    border-color: $persian-red-color;
    color: $persian-red-color !important;
    box-shadow: none !important;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.delete_btn {
  width: 51px;
  height: 49px;
  border: none;
  background: #adb9c7;
  border-radius: 4px;
}
.wishlist_product {
  margin: 21px 0px 29px 24px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 29px;
}
.continue {
  a {
    color: #3a4468;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
  }
}
.all_btn {
  float: right;
}
.rectangle {
  margin: 49px 0 32px 0;
  height: 1px;
  background: $border-light;
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  .header_wishlist {
    text-align: center;
  }
  .buynow_btn {
    font-size: 10px;
    width: 92px;
    height: 33px;
  }
  .addtocart_btn {
    font-size: 10px;
    width: 92px;
    height: 33px;
    padding: 0;
  }
  .delete_btn {
    width: 60px;
    height: 33px;
  }
  .wishlist_product {
    margin: 11px;
    margin-top: 21px;
  }
  .all_btn {
    float: unset;
    display: flex;
    flex-wrap: nowrap;
  }
  .rectangle {
    margin: 32px 0;
  }
}
