@import '../../../styles/variables.scss';

.title_bar {
  text-align: center;
  width: auto;
  padding-top: 21px;
  .popup_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: $light-black;
  }
}
.separator_board {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 65px 0px 0px 0px;
  &:before,
  &:after {
    content: '';
    flex: 1;
    border-bottom: 1px dashed#C0C0C0;
    margin-right: 16px;
    margin-left: 16px;
  }
  .saprator_text {
    font-weight: 300;
    font-size: 20px;
    line-height: 120%;
    color: $light-black;
  }
}
.user_circle {
  width: 104px;
  height: 104px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 50%;
  padding-top: 30px;
  cursor: pointer;
}
.m_circle {
  border: 2px solid $persian-red-color;
  background: #adb9c7;
  svg * {
    fill: $persian-red-color;
  }
  span {
    color: $light-black;
  }
}
.m_circle_unchecked {
  border: 2px solid #e2e2e2;
  background: #fff;
  svg * {
    fill: #e2e2e2;
  }
  span {
    color: $light-gray;
  }
}
.or_text {
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: #a1a2a1;
  margin-top: 45px;
}
.label_text {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 40px;
}
.btn_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}
.next_btn {
  width: 132px;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 48px;
  background: $persian-red-color;
  border-radius: 4px;
  color: #ffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
.bottom_line {
  justify-content: center;
  display: flex;
  margin-top: 64px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
  color: $light-gray;
}
.user_mar {
  margin: 75px 39px 0px 39px;
}
@media screen and (max-width: 768px) {
  .user_mar {
    margin: 61px 0px 0px 0px;
  }
}
@media only screen and (max-width: 320px) {
  .popup_content {
    padding: 35px !important;
  }
}
