@import '../../styles/variables.scss';

.hero_banner_sm {
  background-image: url('../../public/assets/images/banner08.jpg');
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  background-color: $persian-red-color;
  min-height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @media (max-width: 991.98px) {
    min-height: 140px;
    margin-top: 70px;
  }
}

.unique_feature_section {
  background-image: url('../../public/assets/images/bg01.jpg');
  background-position: center center;
  background-repeat: repeat;
  background-size: auto;
  background-color: $light;
  padding: 48px 0 76px;
  position: relative;
  bottom: 0;
}

.unique_feature_section_row {
  height: 201px;
  background: $light;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.12);
  margin-bottom: 40px;
  &:hover {
    cursor: pointer;
    border: 1px solid $persian-red-color;
    .cardRight {
      &:before,
      &:after {
        border-top: 1px solid $persian-red-color;
        border-left: 1px solid $persian-red-color;
        border-right: 1px solid $persian-red-color;
      }
      &:after {
        bottom: 1px;
      }
    }
  }
  @media (max-width: 991.98px) {
    height: 100%;
  }
}

.card {
  padding: 50px 40px;
  border: transparent;
}

.cardLeft {
  width: 75%;
  @media (max-width: 991.98px) {
    width: 100%;
  }
}

.cardRight {
  width: 25%;
  border-left: 1px dashed $silver_color !important;
  border: unset;
  background-color: unset;
  border-radius: unset;

  &:before,
  &:after {
    content: '';
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
    border-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 54px;
    height: 27px;
    background-color: rgb(238 238 238);
    border-bottom-color: #f3f3f3;
    position: absolute;
    left: -27px;
    // content: '';
    // position: absolute;
    // display: block;
    // width: 54px;
    // height: 54px;
    // background: #f3f3f3;
    // border-radius: 50%;
    // left: -27px;
  }
  &:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(-45deg);
    top: -1px;
  }
  &:after {
    bottom: 0px;
  }
  @media (max-width: 991.98px) {
    width: 100%;
  }
}

.imgLeft {
  width: 13%;
  @media (min-width: 990px) and (max-width: 1400px) {
    width: 20%;
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    width: 17%;
  }
  img {
    object-fit: contain;
  }
}

.imgRight {
  width: 87%;
  .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: $light-black;
  }
  .card_text {
    font-size: 14px;
    line-height: 160%;
    color: $light-gray;
    margin-top: 5px;
  }
  @media (min-width: 990px) and (max-width: 1200px) {
    width: 80%;
  }
  @media (min-width: 1200px) and (max-width: 1400px) {
    width: 83%;
  }
}

.special_promo_text {
  text-align: left;
  font-size: 24px;
  line-height: 120%;
  color: $light;
  @media (max-width: 991.98px) {
    font-size: 10px;
  }
}
.special_promo_title {
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  color: $light;
  text-align: left;
  @media (max-width: 991.98px) {
    font-size: 18px;
  }
}

.special_promo_off {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #b02020;
  background-image: url('../../public/assets/icons/rectangle.png');
  width: 344px;
  height: 67px;
  text-align: end;
  position: relative;
  padding: 22px 10px 0;
  top: -10px;

  @media (max-width: 991.98px) {
    width: 150px;
    height: 50px;
    font-size: 12px;
    padding: 22px 5px 0;
  }
}

.special_promo_offp {
  font-size: 48px;
  @media (max-width: 991.98px) {
    font-size: 20px;
  }
}

.select_brand_text {
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: $light;
  position: relative;
  left: -28px;
  top: -5px;
  @media (max-width: 991.98px) {
    font-size: 9px;
  }
}

.banner_ticket {
  position: relative;
  overflow: hidden;
  height: 48px;
  margin-bottom: 25px;
  &:before,
  &:after {
    content: '';
    display: block;
    background: $light;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  &:before {
    left: -9px;
  }
  &:after {
    right: -9px;
  }
}

.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  color: $light-black;
}
.card_text {
  font-size: 12px;
  line-height: 160%;
  color: $light-gray;
}

.promo_code_text {
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #b4b4b4;
  padding-bottom: 5px;
}

.holes_lower {
  position: relative;
  border-top: 1px dashed $silver_color;
  &:before,
  &:after {
    content: '';
    height: 25px;
    width: 25px;
    background-color: $grey-7d;
    position: absolute;
    border-radius: 50%;
  }

  &:before {
    top: -13px;
    left: -13px;
  }
  &:after {
    top: -13px;
    right: -13px;
  }
}

.card_img {
  object-fit: contain;
  display: block;
  margin: auto;
  text-align: center;
}

.card_content {
  height: 120px;
}
