@import '../../styles/variables.scss';

.hero_banner_sm {
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  background-color: $persian-red-color;
  min-height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991.98px) {
  .hero_banner_sm {
    min-height: 140px;
  }
}
@media only screen and (max-width: 780px) {
  .hero_banner_sm {
    margin-top: 71px;
  }
}
