@import '../../styles/variables.scss';
.product_detail_header {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $light-black;
  display: flex;
  align-items: center;
}
.related_item_image {
  width: 120px;
  height: 100px;
  position: relative;
}
.related_item_title {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #1e1e1e;
}
.related_item_dsc {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: $hex-grey;
}
