@import '../Icon/icon.module.scss';
@import '../../styles/variables.scss';

.active {
  background-color: $dark_red;
  border-radius: 100%;
}

.custom_dropdown_menu {
  -webkit-box-shadow: 0px 4px 24px rgb(37 38 37 / 10%);
  box-shadow: 0px 4px 24px rgb(37 38 37 / 10%);
  min-width: 185px;
  border: 0;
  border-radius: 0;
  top: 66px;
  margin-top: 0;
  padding-top: 16px;
  padding-bottom: 26px;
  right: 0;
  left: auto;
  a {
    text-decoration: none;
    display: block;
    height: auto;
    width: 100%;
    border-radius: 0;
    color: $hex-grey;
    font-size: 15px;
    padding: 8px 24px;
    text-transform: capitalize;
    &:hover {
      color: $persian-red-color;
      background-color: $light-red-color;
    }
    &.dropdown_logout {
      margin-top: 24px;
      background-color: $persian-red-color;
      border: 1px solid $persian-red-color;
      border-radius: 4px;
      padding: 6px 16px;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: #fff;
      max-width: 90px;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      &:hover {
        background-color: $persian-red-color;
        color: $light;
      }
    }
  }
  &::after {
    content: '';
    display: inline-block;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 12px solid $light;
    position: absolute;
    top: -12px;
    right: 26px;
  }
}
