.btn {
  border-radius: 4px;
  font-weight: $fontweight600;
  font-size: 18px;
  text-transform: uppercase;
  padding: 8px 32px;
  display: inline-flex;
  align-items: center;
  height: 60px;

  @include media-breakpoint-down(lg) {
    font-size: 14px;
    padding: 4px 16px;
    height: 52px;
  }
  @media screen and (min-width: 990px) and (max-width: 1200px) {
    font-size: 14px;
    padding: 4px 16px;
    height: 52px;
  }
  &-sm {
    height: 48px;
  }

  &-outline-primary {
    background-color: rgba($color: $primary, $alpha: 0.12);
  }

  &-dark {
    background-color: $dark;
    color: $white;
  }

  &-light {
    border-color: $primary;
    background-color: $white;
    color: $primary;
  }
}
