.form-check-input {
  &:checked {
    background-color: $primary;
    border-color: $primary;
  }
  &:focus {
    border-color: #e2e2e2;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem transparent;
    box-shadow: 0 0 0 0.25rem transparent;
  }
}

.form-check-input:checked[type='radio'] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-check-input[type='radio'] {
  border-radius: 0;
}
input:checked + label {
  border: 2px solid $primary;
}
.form-select-input[type='radio'] {
  border-radius: 50% !important;
}

.filter_radio {
  // margin: 0.5rem;
  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    + .radio-label {
      &:before {
        content: '';
        border-radius: 100%;
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        top: 0;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
        background: #ffffff;
        border: 0.5px solid #c4c4c4;
        box-sizing: border-box;
      }
    }
    &:checked {
      + .radio-label {
        &:before {
          background-color: #3a4468;
          box-shadow: inset 0 0 0 2.5px #ffffff;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: #c4c4c4;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &:before {
          box-shadow: inset 0 0 0 4px #f4f4f4;
          border-color: darken(#f4f4f4, 25%);
          background: darken(#f4f4f4, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
  input:checked + label {
    border: unset !important;
  }
}

.input-text-custom {
  &:focus {
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgb(244 245 247);
    box-shadow: 0 0 0 0.25rem rgb(251 251 251);
    border: 1px solid #2a2b2a;
  }
}

.avatar-upload {
  position: relative;
  width: 131px;
  height: 131px;

  .avatar-edit {
    position: absolute;
    right: 0px;
    z-index: 1;
    bottom: 0px;
    input {
      display: none;
      + label {
        display: inline-block;
        width: 29px;
        height: 29px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #adb9c7;
        border: 1px solid #3a4468;
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: #adb9c7;
          border-color: #3a4468;
        }
        &:after {
          // content: '\f040';
          content: url('../../../public/assets/icons/edit_image.svg');
          font-family: 'FontAwesome';
          color: #757575;
          position: absolute;
          top: 6px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto;
        }
      }
    }
  }
  .avatar-preview {
    width: 131px;
    height: 131px;
    position: relative;
    border-radius: 100%;
    border: 1px solid #7d7d7d;
    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
