.hero {
  &-banner {
    min-height: 784px;
    position: relative;
    // padding: 205px 0 175px;
    // background-size: cover;
    // background-position: center;
    background-color: #2b2b2b;
    top: 0;

    @include media-breakpoint-down(lg) {
      min-height: 784px;
      padding: 24px 0;
      // display: flex;
      // align-items: flex-end;
      // background-position: center right -300px;
    }
  }

  &-text {
    color: $grey-a1;
    font-style: 18px;
  }

  &-title {
    max-width: 550px;
    margin-top: 24px;
    margin-bottom: 56px;

    @include media-breakpoint-down(lg) {
      margin-top: 16px;
      margin-bottom: 32px;
      max-width: 205px;
    }
  }
}

// @media screen and (max-width: 991px) {
//   .hero-banner {
//     min-height: auto;
//     padding: 0;
//     margin-top: 71px;
//   }
//   // .hero-banner video {
//   //   display: block;
//   // }
//   /* CHECK DYAMIC CLASS AND ADD HERE */
//   .header-banner {
//     top: 50%;
//     transform: translateY(-50%);
//     left: 0;
//   }
//   .header-banner .hero-text {
//     margin-bottom: 0;
//   }
//   .header-banner .hero-title {
//     max-width: 100%;
//     margin-top: 8px;
//     margin-bottom: 16px;
//   }
// }
