.modal {
  .modal-dialog {
    .modal-content {
      padding: 48px;
      font-size: 14px;
      max-width: 507px;
      min-height: 668px;
      background: $white;
      box-shadow: 0px 8px 24px rgba(42, 43, 42, 0.08);
      border-radius: 0;
      .modal-header {
        border-bottom: 0 !important;
        margin-bottom: 32px;
        padding: 0;
        .btn-close {
          box-shadow: none !important;
        }
      }
      .modal-body {
        padding: 0;
      }
      .modal-footer {
        border-top: 0 !important;
        justify-content: center !important;
        padding: 0;
        span {
          margin-right: 7px;
          color: $grey-7d;
        }
      }
    }
  }
}
.login {
  color: $dark;
  cursor: pointer;
}

.modal_review {
  .modal-dialog {
    .modal-content {
      min-height: auto;
      textarea {
        padding: 0.375rem 0.75rem;
        min-height: 150px;
      }
    }
  }
}
