.new-arrival {
  &-section {
    padding: 95px 0 60px;

    @include media-breakpoint-down(lg) {
      padding: 32px 0 60px;
    }
  }

  &-video {
    position: relative;

    @include media-breakpoint-down(lg) {
      margin-bottom: 32px;
    }

    &-image {
      position: relative;

      img {
        width: 100%;
      }
    }

    &-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      height: auto;
      width: auto;
    }
  }

  &-content {
    @include media-breakpoint-up(lg) {
      padding-left: 16px;
    }

    &-text {
      max-width: 400px;
      margin-top: 24px;
      margin-bottom: 24px;
      color: $grey-7d;
      @include media-breakpoint-down(lg) {
        margin-top: 16px;
        margin-bottom: 16px;
        max-width: 100%;
      }
    }

    &-category {
      color: $grey-7d;
      font-size: 18px;
      margin-bottom: 85px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 24px;
      }
    }

    &-action {
      display: flex;
      justify-content: space-between;
      position: relative;

      @include media-breakpoint-down(lg) {
        display: none;
      }

      p {
        position: relative;
        max-width: 180px;
        font-size: 12px;
        color: $dark;
        padding-top: 20px;
        &:after {
          content: '';
          position: absolute;
          left: -16px;
          top: 10px;
          height: 42px;
          width: 1px;
          background-color: $dark;
        }
      }
    }
  }
}
