/* SWIPER OVERRIDE */
.swiper {
  // overflow: visible;
  position: unset;
  &-button-prev,
  &-button-next {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    top: 17px;
    background-color: $white-f5;

    img {
      filter: brightness(45%);
    }

    &:after {
      content: none;
    }

    @include media-breakpoint-down(sm) {
      top: 12px;
    }
  }

  &-button-disabled {
    opacity: 1;
    background-color: $transparent;

    img {
      filter: none;
    }
  }

  &-button-prev {
    left: auto;
    right: 63px;
  }

  &-button-next {
    right: 13px;
  }

  &-pagination {
    position: initial;
    margin-top: 30px;

    &-bullet {
      height: 4px;
      width: 4px;
      margin: 0 6px !important;
      background: $grey-c4;

      &-active {
        background: $dark;
      }
    }
  }
}

.treding {
  &-slider {
    padding: 72px 0 86px;
    overflow-x: hidden;

    @include media-breakpoint-down(sm) {
      padding: 45px 0 45px;
    }

    .container {
      overflow: visible;
      position: relative;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: $white;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 2;
      }
    }

    &-swiper {
      margin-top: 32px;

      @include media-breakpoint-down(sm) {
        margin-top: 24px;
      }

      .swiper-slide {
        width: 240px;

        // &-active {
        //   .treding-title {
        //     color: $dark;
        //   }
        // }

        @include media-breakpoint-down(sm) {
          width: 305px;
        }
      }
    }
  }

  &-item {
    position: relative;
  }

  &-like {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &-title {
    margin-top: 16px;
    font-size: 18px;
    color: $grey-7d;
    &:hover {
      color: $dark;
    }
  }
}
