.social-shopping {
  &-section {
    padding: 130px 0 90px;

    @include media-breakpoint-down(lg) {
      padding: 32px 0 48px;
    }
  }

  &-border {
    background-color: $white;
    box-shadow: 0px 16px 48px rgba($color: $black, $alpha: 0.12);
    border-top: 6px solid $dark;

    @include media-breakpoint-down(sm) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-content {
    padding: 32px 40px;

    @include media-breakpoint-down(lg) {
      padding: 32px 12px 0;

      .title-lg {
        font-size: 18px;
      }
    }

    &-text {
      margin-bottom: 24px;
      font-size: 18px;

      @include media-breakpoint-down(lg) {
        font-size: 16px;
        margin-bottom: 16px;
      }
    }
  }

  &-image {
    margin-top: -45px;

    @include media-breakpoint-down(lg) {
      margin-top: 24px;
      margin-bottom: -12px;
    }
  }

  &-action {

    @include media-breakpoint-down(lg) {
      padding-bottom: 42px;
    }

    .btn {
      margin-top: 16px;

      @include media-breakpoint-down(lg) {
        margin-top: 20px;
      }
    }
  }
}