.RFS-StepContainer {
  @media screen and (min-width: 768px) {
    flex: unset !important;
  }
}
.RFS-Label {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 11px !important;
  line-height: 120%;
  text-align: center;
  color: #b0b0b0;
  @media screen and (min-width: 768px) {
    text-align: unset !important;
  }
}
.RFS-StepButtonContent {
  color: rgb(215, 57, 57);
  font-size: 18px;
  font-variant-numeric: tabular-nums;
}
.RFS-StepButton {
  width: 2em;
  border: none;
  cursor: pointer;
  height: 2em;
  margin: 0px;
  display: flex;
  padding: 0px;
  font-size: 1em;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: rgb(255, 234, 234);
}
.RFS-StepButton.active {
  background-color: #3a4468;
}
.RFS-StepButton.completed {
  background-color: rgb(39, 39, 39) !important;
}
.RFS-StepButton.active + div span {
  color: #adb9c7 !important;
}
.RFS-Connector {
  display: block;
  border-color: rgb(255, 234, 234);
  border-top-style: solid;
  border-top-width: 4px;
}
.RFS-ConnectorContainer {
  top: calc((2em - 4px) / 2);
  left: calc((-50% + 2em) - 8px);
  right: calc((50% + 2em) - 8px);
  position: absolute;
}
.RFS-ConnectorContainer {
  @media screen and (min-width: 768px) and (max-width: 1000px) {
    margin-left: -50px;
  }
  @media screen and (min-width: 1000px) and (max-width: 1410px) {
    margin-left: -100px;
  }
  @media screen and (min-width: 1410px) {
    margin-left: -180px;
  }
}
