.address_mobile_tabs {
  .nav-tabs {
    justify-content: space-between;
    border-bottom: 2px solid #dbdada;
    .nav-link {
      margin-bottom: -2px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      &:hover,
      &:focus {
        border-color: none;
      }
    }
  }
  .nav-link.active {
    color: $primary;
    background-color: $white;
    border-bottom: 2px solid $primary !important;
  }
  .nav-item {
    button {
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      color: $dark;
    }
  }
}

.category-menu {
  .nav-link {
    border: none;
  }
  .nav-link.active {
    color: #d73939;
    border-bottom: 2px solid #d73939;
  }
}

.store_list_info_detail_category {
  position: relative;
}

@media (max-width: 991.98px) {
  .store_list_info_detail_category {
    margin-bottom: 30px;
  }
  .store_list_info_detail_category:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #b8b8b8;
  }
}

.store_list_info_detail_category .nav-tabs {
  border-bottom: 0;
}

@media (max-width: 991.98px) {
  .store_list_info_detail_category .nav-tabs {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
    height: 34px;
    overflow: hidden;
    overflow-x: auto;
  }
}

.store_list_info_detail_category .nav-tabs .nav-item {
  margin-right: 48px;
}

@media (max-width: 1199.98px) {
  .store_list_info_detail_category .nav-tabs .nav-item {
    margin-right: 24px;
  }
}

@media (max-width: 991.98px) {
  .store_list_info_detail_category .nav-tabs .nav-item {
    margin-right: 36px;
  }
  .store_list_info_detail_category .nav-tabs .nav-item:last-child {
    // margin-right: 0;
  }
}

.store_list_info_detail_category .nav-tabs .nav-link {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #7d7d7d;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}

.store_list_info_detail_category .nav-tabs .nav-link.active,
.store_list_info_detail_category .nav-tabs .nav-link:hover {
  color: #2a2b2a;
}

.store_list_info_detail_category .nav-tabs .nav-link:before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -15px;
  left: 0;
  background-color: transparent;
}

.store_list_info_detail_category .nav-tabs .nav-link.active {
  font-weight: 600;
}

.store_list_info_detail_category .nav-tabs .nav-link.active:before {
  background-color: #d73939;
}

@media (max-width: 991.98px) {
  .store_list_info_detail_category .nav-tabs .nav-link {
    padding-bottom: 10px;
  }
  .store_list_info_detail_category .nav-tabs .nav-link:before {
    bottom: -2px;
  }
}

.search_trending_mobile {
  margin-bottom: 16px;
  .nav-tabs {
    @media (max-width: 991.98px) {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      white-space: nowrap;

      display: -webkit-box;
      display: -moz-box;
      -webkit-overflow-scrolling: auto !important;
    }
    .nav-item {
      margin-right: 32px;
    }
    .nav-link {
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      color: #2a2b2a;
      border: 0;
      border-radius: 0;
      background-color: #fff;
      margin-bottom: 0;
      padding: 0;
      position: relative;
      height: 37px;
      &.active,
      &:hover {
        color: #d73939;
      }
      &.active {
        &:before {
          background-color: #d73939;
        }
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: transparent;
      }

      @media (max-width: 991.98px) {
        .nav-link {
          padding-bottom: 10px;
          &:before {
            bottom: -2px;
          }
        }
      }
    }
  }
}
