.top-brand {
  &-section {
    padding-bottom: 96px;

    @include media-breakpoint-down(lg) {
      padding-bottom: 32px;
    }
  }

  &-content {
    @include media-breakpoint-up(lg) {
      padding-right: 16px;
    }
  }

  &-text {
    margin-top: 24px;
    margin-bottom: 32px;
    max-width: 400px;
    color: $grey-7d;
    @include media-breakpoint-down(lg) {
      margin-top: 16px;
      margin-bottom: 24px;
      max-width: 100%;
    }
  }

  &-celebrity {
    border-top: 1px solid $grey-dd;
    padding-top: 32px;

    @include media-breakpoint-down(lg) {
      padding-top: 24px;
    }

    &-rating {
      color: $grey-7d;
      font-size: 14px;
      font-weight: $fontweight500;

      @include media-breakpoint-down(lg) {
        text-align: center;
      }
    }

    &-comment {
      font-family: $font-family-playfair;
      line-height: 150%;
      margin-top: 24px;
      margin-bottom: 32px;

      @include media-breakpoint-down(lg) {
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 28px;
        text-align: center;
      }
    }
  }

  &-card {
    background-color: $white;
    box-shadow: 0px 8px 56px rgba($color: $black, $alpha: 0.12);
    position: relative;
    padding: 12px 16px;
    border-top: 4px solid $primary;
    max-width: 258px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin: 0 auto 48px;
    }

    &-image {
      margin-right: 16px;
      flex: 0 0 48px;

      img {
        height: 48px;
        width: 48px;
        object-fit: cover;
        border-radius: 48px;
      }
    }

    &-content {
      flex: 1;
      h4 {
        color: $dark;
        font-size: 18px;
        font-weight: $fontweight500;
      }

      p {
        font-size: 12px;
        color: $grey-7d;
      }
    }
  }

  &-video {
    position: relative;

    &-image {
      position: relative;

      img {
        width: 100%;
      }
    }

    &-play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba($color: $dark, $alpha: 0.56);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 32px;

      @include media-breakpoint-down(lg) {
        padding: 10px 16px;
      }

      p {
        font-weight: $fontweight500;
        font-size: 24px;
        text-transform: capitalize;
        color: $white;

        @include media-breakpoint-down(lg) {
          font-size: 14px;
          max-width: 105px;
        }
      }

      a {
        font-size: 14px;
        letter-spacing: 0.02em;

        @include media-breakpoint-down(lg) {
          height: 40px;
        }
      }
    }
  }
}
