.trendz {
  &-section {
    background-image: url('../../../public/assets/images/bg01.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    padding: 56px 0;

    @include media-breakpoint-down(lg) {
      padding: 25px 12px;

      .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &-image {
    overflow: hidden;
    border-radius: 0 160px 160px 0;
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include media-breakpoint-down(lg) {
      border-radius: 0 0 200px 200px;
      min-height: 225px;
    }
  }

  &-logo {
    position: absolute;
    top: 16px;
    left: 16px;

    @include media-breakpoint-down(lg) {
      max-height: 80px;
      max-width: 80px;
      top: 10px;
      left: 10px;
    }
  }

  &-content {
    padding: 60px 32px 24px 16px;
    background-image: url('../../../public/assets/images/fire.png');
    background-size: auto;
    background-position: top 21px right 180px;
    background-repeat: no-repeat;

    @include media-breakpoint-down(lg) {
      padding: 20px 16px 25px 32px;
      background-size: 55px;
      background-position: right 100px bottom 56px;

      .btn {
        padding-left: 32px;
        padding-right: 32px;
      }
    }

    .title-lg {
      margin-bottom: 45px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 24px;
      }
    }

    .btn {
      @include media-breakpoint-down(lg) {
        font-size: 42px;
        font-size: 14px;
      }
    }
  }
}
/* TRENDS STYLE 2 */
.trendz-style2 {
  padding: 40px 0 45px;

  @include media-breakpoint-down(lg) {
    padding: 25px 12px;
  }

  .trendz-image {
    @include media-breakpoint-down(lg) {
      border-radius: 0;
      min-height: 95px;
    }
  }

  .trendz-content {
    padding: 40px 32px 30px 66px;
    background-position: top 15px right 140px;

    @include media-breakpoint-down(lg) {
      padding: 24px 16px 20px 24px;
      background-size: 52px;
      background-position: right 100px bottom 37px;
    }

    .title-lg {
      margin-bottom: 24px;
    }
  }
}
/* TRENDS STYLE 3 */
.trendz-style3 {
  padding: 24px 0 25px;

  @include media-breakpoint-down(lg) {
    padding: 25px 12px;
  }

  .trendz-image {
    @include media-breakpoint-down(lg) {
      border-radius: 0;
      min-height: 71px;
    }
  }

  .trendz-content {
    padding: 40px 30px 25px 32px;
    background-position: top 30px right 215px;
    background-size: 62px;

    @include media-breakpoint-down(lg) {
      padding: 16px 15px 20px 24px;
      background-size: 50px;
      background-position: right 85px bottom 37px;
    }

    .title-md {
      margin-bottom: 16px;
    }

    .btn {
      height: 36px;
      font-size: 16px;

      @include media-breakpoint-down(lg) {
        font-size: 12px;
      }
    }
  }
}
