@import '../../styles/variables.scss';
.product_main_image {
  position: relative;
  max-width: 632px;
  height: 632px;
  // background: $light-grey;
}
.product_icon_heart {
  position: absolute;
  z-index: 5;
  top: 6px;
  right: 6px;
  background-color: #FFEAEA;
  height: 50px;
  border-radius: 4px;
  font-size: 22px;
  width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D73939;
}
.custom_dot_with_class {
  width: 632px;
  cursor: pointer;
}
.slider_image {
  position: relative;
  width: 120px;
  height: 118px;
}
@media only screen and (max-width: 780px) {
  .product_main_image {
    width: 100%;
    height: 328px;
  }
  .custom_dot_with_class {
    top: 23px;
    width: auto;
  }
  .slider_image {
    width: 100px;
    height: 100px;
  }
  .carousel_images {
    margin-top: 0 !important;
  }
}