.store_banner_section {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 300px;
  cursor: pointer;
}

.store_banner_section:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}

@media (max-width: 991.98px) {
  .store_banner_section {
    min-height: 154px;
    padding-top: 20px;
    margin-top: 70px;
  }
  .container_section {
    padding-left: 10px !important;
  }
  .taxons {
    padding-top: 20px;
  }
  .spacebetween {
    justify-content: space-between !important;
  }
  .featureImage {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: 50% !important;
  }
  .grid_container {
    grid-template-columns: 50% 50% !important;
    grid-gap: 20px !important;
    padding-right: 15px !important;
  }
  .related_item_desc {
    width: 100% !important;
  }
  .feature_products_title,
  .feature_products_desc {
    width: 100% !important;
  }
  .customer_comment_btn {
    padding: 10px 20px !important;
  }
  .video_caption {
    width: 100% !important;
  }
}

.store_list_info_detail_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 11px;
  cursor: pointer;
}

.store_list_info_detail_social a:hover {
  opacity: 0.7;
}

.store_list_info_detail_social a div {
  display: block !important;
}

.video_caption {
  width: 394px;
  height: auto;
  top: 18px;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
}

.video_section {
  display: flex;
  justify-content: space-between;
}

.container_section {
  padding-top: 33px;
  padding-left: 37px;
  // min-height: 800px;
  .store_list_item_image {
    min-height: 423px;
  }
}

.video_desc {
  padding-bottom: 27px;
  font-size: 14px;
  color: #7d7d7d;
  padding-top: 15px;
}

@media screen and (min-width: 800px) {
  .video_desc {
    width: 600px;
  }
}

.video_tabs .nav-tabs .nav-link.active:before {
  background-color: #d73939 !important;
}

.video_tabs .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: none !important;
  border-color: none !important;
  color: #d73939 !important;
}

.feature_products_title {
  width: 394px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #2a2b2a;
}

.feature_products_desc {
  width: 332px;
  font-size: 14px;
  color: #7d7d7d;
}

.feature_products_section {
  padding-top: 31px;
}

.product_panel {
  padding-top: 44px;
  padding-bottom: 70px;
}

.related_item_title {
  // height: 36px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #2a2b2a;
  padding-bottom: 10px;
}

.related_item_desc {
  width: 231px;
  font-size: 14px;
  line-height: 150%;
  color: #7d7d7d;
}

.grid_container {
  display: grid;
  grid-template-columns: 270px 270px;
  grid-gap: 31px;
  padding-top: 20px;
  // grid-template-rows: 300px 300px;
}

.grid_container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0;
  font-size: 30px;
}

.related_item {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #2a2b2a;
}

.customer_comment {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

.customer_comment_btn {
  padding: 16px 48px;
  background: #ffeaea;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: #d73939;
  cursor: pointer;
}

.comment_sirname {
  font-weight: 300;
  font-size: 9px;
  color: #7d7d7d;
}

.comment_name {
  font-size: 17px;
  line-height: 150%;
}

.comment_section {
  padding-left: 10px;
}

.d_flex {
  display: flex;
  padding-top: 15px;
  padding-bottom: 10px;
}

.comment {
  font-weight: 300;
  font-size: 12px;
  color: #7d7d7d;
}

.likes {
  font-weight: 300;
  font-size: 10px;
  color: #000000;
  padding: 10px;
}

.view_more {
  font-weight: 300;
  font-size: 10px;
  line-height: 150%;
  color: #51acff;
}

.view_all {
  background: #d73939;
  border-radius: 4px;
  color: #ffffff;
  margin-top: 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  padding: 16px 25px;
}

.view_all_section {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.product_image img {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.product_image img:hover {
  transform: scale(1.1);
}
.padding_row {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.custom_images {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 0;
  position: relative;
}
