.footer_copyright {
  text-align: right;
  font-size: 12px;
  line-height: 18px;
  color: #adb9c7;
  padding-bottom: 36px;
}

@media only screen and (max-width: 420px) {
  .footer_copyright {
    text-align: center;
  }
}

.sidebar_footer {
  position: absolute;
  bottom: 48px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #afafaf;
  width: 100%;
}
