@import '../../../styles/variables.scss';
.title_name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: $light-black;
  svg * {
    stroke: $persian-red-color;
  }
}
.mobile_title_name {
  display: grid;
  grid-template-columns: 25px 1fr;
  margin-top: 1.5rem;
  text-align: center;
}

.btn_end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  @media screen and (max-width: 800px) {
    justify-content: center;
  }
}

.btnaddaddress {
  background: $persian-red-color;
  border-radius: 4px;
  width: 176px;
  height: 49px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: $light-red-color;
  border: none;
}
