@import '../../styles/variables.scss';
/* STORE SECTION */
.store_list_item_content h4 a,
.store_list_item_category a {
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
}
.store_list_item_category a:hover,
#store-logo {
  cursor: default;
}
.store_banner_section {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2a2b2a;
  position: relative;
  min-height: 367px;
}

.store_banner_section:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 43, 42, 0.7);
}

@media (max-width: 991.98px) {
  .store_banner_section {
    min-height: 240px;
  }
}

.store_list_section {
  position: relative;
  margin-top: -145px;
  padding-bottom: 64px;
}

@media (max-width: 991.98px) {
  .store_list_section {
    margin-top: -115px;
  }
  .store_list_section .btn-info {
    min-width: 140px;
    height: 32px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.store_list_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 991.98px) {
  .store_list_section {
    margin-bottom: 30px;
  }
}

.store_list_section_image {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-right: 30px;
  width: 236px;
  height: 236px;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .store_list_section_image {
    height: 165px;
    width: 165px;
    margin-right: 35px;
  }
}

.store_list_section-detail {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.store_list_section_detail_rating {
  margin-top: 70px;
}

@media (max-width: 991.98px) {
  .store_list_section_detail_rating {
    margin-top: 50px;
  }
}

.store_list_section_detail_rating p {
  font-size: 10px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #a1a1a1;
  margin-bottom: 8px;
}

.store_list_section_detail_rating div {
  height: 26px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 26px;
  padding: 5px 10px;
}

.store_list_section_detail_rating div span {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.store_list_section_detail_bottom {
  border-bottom: 2px solid #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 65px;
  padding-bottom: 10px;
}

@media (max-width: 991.98px) {
  .store_list_section_detail_bottom {
    border-bottom: 0;
    margin-top: 30px;
  }
}

.store_list_section_detail_category {
  position: relative;
}

@media (max-width: 991.98px) {
  .store_list_section_detail_category {
    margin-bottom: 30px;
  }
  .store_list_section_detail_category:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #b8b8b8;
  }
}

.store_list_section_detail_category .nav-tabs {
  border-bottom: 0;
}

@media (max-width: 991.98px) {
  .store_list_section_detail_category .nav-tabs {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
    height: 34px;
    overflow: hidden;
    overflow-x: auto;
  }
}

.store_list_section_detail_category .nav-tabs .nav-item {
  margin-right: 48px;
}

@media (max-width: 1199.98px) {
  .store_list_section_detail_category .nav-tabs .nav-item {
    margin-right: 24px;
  }
}

@media (max-width: 991.98px) {
  .store_list_section_detail_category .nav-tabs .nav-item {
    margin-right: 36px;
  }
  .store_list_section_detail_category .nav-tabs .nav-item:last-child {
    margin-right: 0;
  }
}

.store_list_section_detail_category .nav-tabs .nav-link {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #7d7d7d;
  border: 0;
  border-radius: 0;
  background-color: #fff;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}

.store_list_section_detail_category .nav-tabs .nav-link.active,
.store_list_section_detail_category .nav-tabs .nav-link:hover {
  color: #2a2b2a;
}

.store_list_section_detail_category .nav-tabs .nav-link:before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -15px;
  left: 0;
  background-color: transparent;
}

.store_list_section_detail_category .nav-tabs .nav-link.active {
  font-weight: 600;
}

.store_list_section_detail_category .nav-tabs .nav-link.active:before {
  background-color: $persian-red-color;
}

@media (max-width: 991.98px) {
  .store_list_section_detail_category .nav-tabs .nav-link {
    padding-bottom: 10px;
  }
  .store_list_section_detail_category .nav-tabs .nav-link:before {
    bottom: -2px;
  }
}

.store_list_section_detail_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 11px;
}

.store_list_section_detail_social a:hover {
  opacity: 0.7;
}
.store_list_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 991.98px) {
  .store_list_info {
    margin-bottom: 30px;
  }
}

.store_list_info_image {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-right: 30px;
  width: 236px;
  height: 236px;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .store_list_info_image {
    height: 165px;
    width: 165px;
    margin-right: 35px;
  }
}

.store_list_info_detail {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.store_list_info_detail_rating {
  margin-top: 70px;
  a {
    padding: 16px 18px;
    min-width: 105px;
    height: 34px;
    background: $persian-red-color;
    border-radius: 4px;
    font-weight: 600;
    font-size: 10px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}

@media (max-width: 991.98px) {
  .store_list_info_detail_rating {
    margin-top: 50px;
  }
}

.store_list_info_detail_rating p {
  font-size: 10px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #a1a1a1;
  margin-bottom: 8px;
}

// .store_list_info_detail_rating div {
//   height: 26px;
//   display: -webkit-inline-box;
//   display: -ms-inline-flexbox;
//   display: inline-flex;
//   -webkit-box-align: center;
//       -ms-flex-align: center;
//           align-items: center;
//   background: rgba(255, 255, 255, 0.1);
//   border-radius: 26px;
//   padding: 5px 10px;
// }

// .store_list_info_detail_rating div span {
//   font-weight: 500;
//   font-size: 12px;
//   color: #fff;
//   margin-left: 10px;
//   display: inline-block;
//   vertical-align: middle;
// }

.store_list_info_detail_bottom {
  border-bottom: 2px solid #e8e8e8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 65px;
  padding-bottom: 5px;
}

@media (max-width: 991.98px) {
  .store_list_info_detail_bottom {
    border-bottom: 0;
    margin-top: 30px;
  }
}

.store_list_info_detail_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 11px;
}

.store_list_info_detail_social a:hover {
  opacity: 0.7;
}
.store_list_item {
  // cursor: pointer;
  margin-top: 40px;
}

@media (max-width: 991.98px) {
  .store_list_item {
    margin-top: 20px;
  }
}

.store_list_item-image {
  position: relative;
}

.store_list_item_content_review {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  min-height: 40px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 24px;
}

.store_list_item_content {
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;

  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(42, 43, 42, 0.9)),
    color-stop(95.42%, rgba(42, 43, 42, 0))
  );
  background: linear-gradient(
    360deg,
    rgba(42, 43, 42, 0.9) 0%,
    rgba(42, 43, 42, 0) 95.42%
  );
  min-height: 145px;
  padding: 24px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  // cursor: pointer;
  h4 {
    margin-bottom: 6px;
  }
}

@media (max-width: 991.98px) {
  .store_list_item_content {
    min-height: 80px;
    padding: 12px;
  }
}

.store_list_item_content h4 {
  color: #fff;
  max-width: 70%;
}

// .store_list_item_content h4 span:hover,
// .store_list_item_content .span:hover {
//   color: #d73939;
//   text-shadow: 1px 3px 5px rgba(42, 43, 42, 0.7);
// }

.store_list_item_category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 16px 8px;
  margin-top: 16px;
}

.store_list_item_category a {
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 30px;
  padding: 8px 16px;
  color: #6c6c6c;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
  line-height: 120%;
}

.store_list_item_category a:hover {
  opacity: 0.8;
}

@media (max-width: 991.98px) {
  .store_list_item_category a {
    height: 20px;
    padding: 5px 8px;
    font-size: 10px;
  }
}
.store_list_item_image {
  position: relative;
  &:hover {
    .store_list_item_content h4 span,
    .store_list_item_content .span {
      color: $persian-red-color;
      text-shadow: 1px 3px 5px rgba(42, 43, 42, 0.7);
    }
    .store_list_info_detail_rating {
      display: block !important;
    }
  }
}

.about_short_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 64px;
}

@media (max-width: 991.98px) {
  .about_short_left {
    padding-right: 15px;
  }
}

.about_short_left p {
  font-size: 18px;
  color: #7d7d7d;
  max-width: 455px;
}

@media (max-width: 1199.98px) {
  .about_short_left p {
    max-width: 380px;
  }
}

@media (max-width: 991.98px) {
  .about_short_left p {
    font-size: 14px;
    line-height: 150%;
    max-width: 80%;
  }
}

.about_short_left a {
  width: 78px;
  height: 78px;
  background-color: $persian-red-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
}

.about_short_left a:hover {
  opacity: 0.7;
}

@media (max-width: 1199.98px) {
  .about_short_left a {
    height: 50px;
    width: 50px;
  }
  .about_short_left a img {
    width: 30px;
    height: 30px;
  }
}
.store_list_info_detail_social a div {
  display: block !important;
}

.image_product {
  height: 319px;
  width: auto;
  position: relative;
}
