@import '../../../styles/variables.scss';

.container_main {
  padding: 80px;
  input {
    padding: 1.3125rem 2.1875rem !important;
  }
}
.header_main {
  font-weight: bold;
  font-size: 23px;
  line-height: 36px;
  text-transform: uppercase;
  color: $light-black;
  margin-bottom: 12px !important;
}

.Sign_in {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  a {
    color: $persian-red-color !important;
    text-decoration: underline !important;
  }
  .remeber_password {
    font-size: 18px;
    line-height: 150%;
    text-align: right;
    color: $light-black;
  }
}

.send_btn {
  align-items: center;
  min-width: 153px;
  height: 49px;
  background: $persian-red-color;
  border-radius: 4px;
  color: $light;
  border: none;
  text-transform: uppercase;
  float: right;
  &:focus,
  &:active,
  &:hover,
  &:active:focus {
    color: $light;
    border: none;
  }
}

@media only screen and (max-width: 765px) {
  .container_main {
    padding: 106px 20px 40px 20px;
    label {
      display: flex;
      justify-content: center;
    }
  }
  .header_main {
    text-align: center;
  }
  .Sign_in {
    flex-direction: column;
    margin-bottom: 32px;
    .remeber_password {
      text-align: center;
      font-size: 14px;
    }
  }
  .send_btn {
    width: 100% !important;
  }
}
