@import '../../styles/variables.scss';

.menu_backdrop {
  opacity: 0.3;
  z-index: 7;
  background: rgba(199, 207, 207, 0.8);
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  display: none;
}

.sidenav {
  height: 100%;
  // height: 400px;
  top: 0px;
  width: 320px;
  position: fixed;
  z-index: 13;
  top: 0;
  right: -320px;
  background-color: $light;
  overflow: auto;
  transition: 0.5s;
}
.sidebar_content {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  // justify-content: flex-start;
  &:hover {
    background-color: $light-red-color;
    a {
      color: $persian-red-color !important;
      .title {
        color: $persian-red-color !important;
      }
    }
    svg {
      circle {
        fill: $light !important;
        stroke: $persian-red-color;
        stroke-width: 2px;
      }
    }
  }
}
.active {
  background-color: $light-red-color !important;
  a {
    color: $persian-red-color !important;
    .title {
      color: $persian-red-color !important;
    }
  }
  svg {
    circle {
      fill: $light !important;
      stroke: $persian-red-color;
      stroke-width: 2px;
    }
  }
}

.closebtn {
  position: relative;
  top: 46px;
  font-size: 36px;
  color: #7d7d7d;
  cursor: pointer;
  text-align: end;
  right: 36px;
  z-index: 5;
}

.icon_WildFire {
  right: 0;
  position: absolute;
  width: 247px;
  bottom: 100px;
  z-index: 0;
  mix-blend-mode: luminosity;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (width: 320px) {
  .icon_WildFire {
    width: 150px;
    bottom: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .icon_WildFire {
    width: 224px;
    bottom: 96px;
  }
}
