@import '../../styles/variables.scss';

.account {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  @media screen and (max-width: 768px) {
    margin-top: 60px;
  }
}

.account_content {
  width: 70%;
  border-left: 1px solid $border-light;
  @media screen and (max-width: 768px) {
    border-left: none;
    width: 100%;
  }
}

.account_menu {
  width: 362px;
}
