@import '../../../styles/variables.scss';

.container_main {
  padding: 80px;
  input {
    padding: 1.3125rem 2.1875rem !important;
  }
}
.header_main {
  font-weight: bold;
  font-size: 23px;
  line-height: 36px;
  text-transform: uppercase;
  color: $light-black;
  margin-bottom: 12px !important;
}
.input_icon {
  color: #7d7d7d;
  position: relative;
  z-index: 1;
  padding-right: 17px;
  font-size: 22px !important;
  float: right;
  bottom: 36px;
  cursor: pointer;
}
.remeber_password {
  font-size: 18px;
  line-height: 150%;
  margin-top: 100px;
  a {
    color: $persian-red-color !important;
    text-decoration: underline !important;
  }
}
.send_btn {
  align-items: center;
  min-width: 240px;
  height: 49px;
  background: $persian-red-color;
  border-radius: 4px;
  color: $light;
  border: none;
  text-transform: uppercase;
  float: right;
  &:focus,
  &:active,
  &:hover,
  &:active:focus {
    color: $light;
    border: none;
  }
}
@media only screen and (max-width: 765px) {
  .container_main {
    padding: 106px 20px 40px 20px;
    label {
      display: flex;
      justify-content: center;
    }
  }
  .input_icon {
    font-size: 19px !important;
    bottom: 33px;
  }
  .remeber_password {
    margin-top: 100px;
    text-align: center;
  }
  .header_main {
    text-align: center;
  }
  .send_btn {
    width: 100% !important;
  }
}
