.search_section {
  padding-top: 130px;
  overflow-x: hidden;

  .col_195 {
    max-width: 195px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 195px;
    flex: 0 0 195px;
    padding-right: 0;
    -webkit-transition: 0.3s ease-in-out opacity;
    transition: 0.3s ease-in-out opacity;
    display: none;
    height: 850px;
    overflow: auto;
    &.active {
      display: block;
      -webkit-animation: fadeIn 0.5s;
      animation: fadeIn 0.5s;
    }
  }

  .col_250 {
    max-width: 250px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    position: relative;
    padding-bottom: 75px;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
    @media (min-width: 991.98px) {
      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        height: calc(100% + 23px);
        width: 1px;
        top: -23px;
        background-color: #e7e7e7;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }

  .col_full {
    padding-left: 39px;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
  }

  .product_size_btn {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2a2b2a;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      color: #d73939;
    }
  }
  .product_size_btn.active {
    box-shadow: inset 0 0 0 2px #ffffff !important;
    border: 2px solid #2a2b2a !important;
  }

  // .line_verticel {
  //   border: 0.75px solid #f3f3f3;
  //   margin: 13px 0;
  // }

  .grid_template {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
  }
}
.search_section_container {
  margin: 0 60px;
  @media (max-width: 991.98px) {
    margin: 0 15px;
  }
}

@media (max-width: 991.98px) {
  .search_section {
    padding-top: 100px;
    .col_195 {
      position: fixed;
      top: 153px;
      left: 0;
      z-index: 1;
      background-color: #fff;
      height: 100%;
      padding-top: 20px;
      -webkit-transition: 0.3s ease-in-out transform;
      transition: 0.3s ease-in-out transform;
      padding-left: 0;
      overflow: hidden;
      overflow-y: auto;
      padding-bottom: 300px;
    }
    .col_250 {
      display: none;
    }
    .col_full {
      padding-left: 12px;
    }
  }
}

.form_check_label {
  font-weight: 300;
  font-size: 14px;
  color: #252625;
  text-transform: capitalize;
  border: none !important;
}

.search_filter {
  button {
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
    height: 38px;
    color: #d73939;
    &:hover,
    &:focus,
    &:active {
      color: #d73939;
    }
  }
}

.search_filter_toggle {
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}

.search_box {
  .input_group_text {
    border-top-left-radius: 38px;
    border-bottom-left-radius: 38px;
    padding-left: 15px;
    padding-right: 8px;
    height: 38px;
    border-right: 0;
  }
  .form_control {
    height: 38px;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    border-color: #d3d3d3;
    font-size: 15px;
    font-weight: 300;
    &:focus {
      border-color: #d3d3d3;
      box-shadow: none;
    }
    &::-webkit-input-placeholder {
      color: #b0b0b0;
    }
    &::-moz-placeholder {
      color: #b0b0b0;
    }
    &:-moz-placeholder {
      color: #b0b0b0;
    }
    &:-ms-input-placeholder {
      color: #b0b0b0;
    }
  }
}

.search_wrap {
  margin-top: 25px;
  padding-top: 24px;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: auto;
    top: 0;
    left: -50%;
    right: -50%;
    background-color: #e7e7e7;
  }
}

@media (max-width: 991.98px) {
  .search_wrap {
    margin-top: 16px;
    &:before {
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
    }
  }
}

.search_filter_list {
  position: relative;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-top: 24px;

  &:nth-child(2) {
    padding-top: 0;
  }

  @media (max-width: 991.98px) {
    border-bottom: 0;
    border-top: 1px solid #e7e7e7;
    padding-left: 20px;
    &:nth-child(2) {
      margin-top: 20px;
      padding-top: 24px;
    }
    &:not(:last-child):before {
      content: '';
      display: block;
      position: absolute;
      height: 1px;
      width: 28.75vw;
      right: 0;
      bottom: -1px;
      background-color: #e7e7e7;
    }
  }
}

.search_filter_clear {
  color: #d73939;
  font-weight: 300;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 3px;
  right: 20px;
  cursor: pointer;
  @media (max-width: 991.98px) {
    top: 27px;
  }
}

.search_filter_title {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #252625;
  margin-bottom: 10px;
}

.search_trending {
  padding-left: 13px;
  padding-right: 13px;
  @media (max-width: 991.98px) {
    display: none;
  }
}

.trending_item_search {
  max-height: 860px;
  overflow: auto;
  overflow-x: hidden;
  @media (max-width: 991.98px) {
    display: none;
  }
}

.search_trending_item {
  margin-bottom: 35px;
  max-width: 200px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  @media (min-width: 991.98px) {
    margin-right: 16px;
  }
  @media (max-width: 991.98px) {
    margin-bottom: 24px;
    max-width: 100%;
    flex: none;
    &::after {
      display: block;
      clear: both;
      content: '';
    }
  }
}

.search_trending_item_image {
  position: relative;
  width: 200px;
  height: 150px;
  background: rgba(42, 43, 42, 0.56);
  backdrop-filter: blur(12px) !important;
  mix-blend-mode: normal !important;
  div,
  video {
    background: rgba(42, 43, 42, 0.56);
    backdrop-filter: blur(12px) !important;
    mix-blend-mode: normal !important;
  }
  @media (max-width: 991.98px) {
    float: left;
    width: 96px;
    height: 72px;
    margin-right: 16px;
  }
}

.search_trending_item_discount {
  font-weight: 300;
  font-size: 10px;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #d73939;
  padding: 6px;
  display: inline-block;
  text-transform: uppercase;
  @media (max-width: 991.98px) {
    padding: 3px 6px;
    font-size: 8px;
  }
}

.search_trending_item_like {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0.5;

  &:hover,
  &.active {
    opacity: 1;
  }
  @media (max-width: 991.98px) {
    top: 7px;
    right: 7px;
    height: 14px;
    width: 14px;
  }
}

.search_trending_item_title {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #2a2b2a;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media (max-width: 991.98px) {
    padding-top: 7px;
    margin-top: 0;
  }
}

.search_trending_item_description {
  font-weight: 300;
  font-size: 10px;
  color: #7d7d7d;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @media (max-width: 991.98px) {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}

@media (max-width: 991.98px) {
  .search_trending_item_price {
    display: flow-root;
    margin-top: 5px;
  }
}

.search_trending_item_price_label {
  font-weight: 300;
  font-size: 14px;
  color: #2a2b2a;
  margin-right: 4px;
}

.search_trending_item_price_sale {
  font-weight: 600;
  font-size: 14px;
  color: #2a2b2a;
  margin-right: 4px;
}

.search_trending_item_price_old {
  font-weight: 300;
  font-size: 10px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: #bdbdbd;
}

.search_trending_mobile_tabs {
  margin-bottom: 30px;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #b8b8b8;
  }
}

.search_video {
  margin-bottom: 16px;
  padding-bottom: 12px;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: calc(100% + 40px);
    left: -40px;
    bottom: 0;
    background-color: #e7e7e7;
  }
  @media (max-width: 991.98px) {
    margin-bottom: 24px;
    padding-bottom: 24px;
    &:before {
      width: 100%;
      left: 0;
    }
  }
}

.backdrop_overlay {
  display: none;
  position: fixed;
  top: 153px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  &.active {
    display: block;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
