@import '../../styles/variables.scss';

.cart_detail {
  background: $light;
  border: 1px solid $border-light;
  box-sizing: border-box;
  margin-bottom: 62px;
  margin-top: 62px;
}
.shipping_header {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: $light-black;
}
.cartItem {
  padding-left: 20px;
  padding-right: 20px;
}

.product_detail_box {
  svg {
    max-width: 88px;
    height: 100px;
  }
  .product_image {
    max-width: 100px;
    height: 100px;
  }
  .product_name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $light-black;
  }
  .product_variant {
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: $Nobel_color;
    text-transform: uppercase;
  }
  .counter_btn {
    background: $light-red-color;
    border: 1px solid $persian-red-color;
    box-sizing: border-box;
    border-radius: 4px;
    color: $persian-red-color;
    width: 26px !important;
    height: 26px !important;
    margin: 14px;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  .count {
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: $silver_color;
  }
  .product_total {
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    color: $light-black;
    position: relative;
    bottom: 80px;
  }
  .product_total ~ span {
    position: relative;
    bottom: 80px;
  }
}
.subtotal {
  background: $light;
  border-top: 1px solid $border-light;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}
.subtotal_title {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: $dark_gray_color;
}
.subtotal_price {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: $light-black;
}
.total {
  height: 89px;
  background: $snow_color;
  border: 1px solid $silver_color;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.total_title {
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-transform: uppercase;
  color: $light-black;
}
.total_price {
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  text-transform: uppercase;
  color: $light-black;
  s {
    font-size: 18px;
    padding-right: 12px;
    color: $dark_gray_color;
    font-weight: 400;
  }
}

@media only screen and (max-width: 780px) {
  .product_detail_box {
    width: auto;
    svg {
      max-width: 69px;
    }
    .product_name {
      font-size: 13px;
    }
    .product_variant {
      font-size: 9px;
      line-height: 14px;
    }
    .counter_btn {
      width: 18px !important;
      height: 18px !important;
      margin: 5px 15px;
      text-align: center;
      line-height: 5px;
      padding: 0px;
    }
    :first-child span {
      font-size: 13px;
    }
    .product_total {
      font-size: 15px;
      bottom: 50px;
    }
    .product_total ~ span {
      font-size: 13px;
      color: $light-black;
      bottom: 60px;
    }
  }
  .subtotal_title {
    font-size: 12px;
  }
  .subtotal_price {
    font-size: 15px;
  }
  .total_title {
    font-size: 22px;
  }
  .total_price {
    font-size: 22px;
  }
  .total {
    height: 74px;
  }
}

@media only screen and (max-width: 1024px) {
  .product_detail_box {
    .product_total {
      font-size: 19px;
      bottom: 73px;
    }
    .product_total ~ span {
      bottom: 72px;
    }
  }
}
