// $primary: #d73939 !default;
$primary: #adb9c7 !default;
$secondary: #ffecec !default;
$primary-c6: #c62828 !default;
// $grey-a1: #a1a1a1 !default;
$grey-a1: #adb9c7 !default;
$grey-7d: #7d7d7d !default;
$grey-25: #252625 !default;
$grey-47: #474747 !default;
$grey-6c: #6c6c6c !default;
$dark: #2a2b2a !default;
$grey-68: #686868 !default;
$grey-af: #afafaf !default;
$grey-c4: #c4c4c4 !default;
$grey-dd: #d3d3d3 !default;
$grey-88: #888888 !default;
$white-f5: #f5f5f5 !default;
$transparent: transparent !default;

$enable-negative-margins: true !default;
