.treding_image {
  // width: 400px;
  // height: 194px;
  height: 240px;
  width: 240px;
  // max-width: 100%;
  position: relative;
  // background-color: #d2d2d2;
  // mix-blend-mode: normal;
  // background: #2a2b2a;
  // border: 1px solid #000000;
  // box-sizing: border-box;
  // background: rgba(42, 43, 42, 0.56);
  // backdrop-filter: blur(12px);
  // div {
  //   backdrop-filter: blur(12px);
  // }
}
.heart_like {
  color: #3a4468;
  font-size: 17px;
  z-index: 12;
}
