@import '../../styles/variables.scss';

.grid_item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.search_header {
  border-bottom: 2px solid #e7e7e7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 94px;
  .filter_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 48px 17px 30px;
    width: 108px;
    height: 38px;
    left: 48px;
    top: 110px;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    background: $light-red-color;
    border-radius: 4px;
    color: $persian-red-color;
    border: none;
    margin: 23px;
  }
  .filter_icon {
    position: absolute;
    left: 92px;
    top: 116px;
  }
  .filter_mobile {
    display: none;
  }
  .search_field {
    margin-right: 37px;
    .search_icon_size {
      width: 20px !important;
      height: 20px !important;
      position: absolute;
      top: 116px;
      margin-left: 23px;
    }
    .search_input {
      width: 624px;
      height: 37px;
      background: $light;
      border: 1px solid $hex-light-grey;
      box-sizing: border-box;
      border-radius: 20px;
      padding-left: 61px;
      &:focus-visible {
        outline: none;
      }
    }
  }
}

.search_card {
  margin: 38px 122px;
}

@media only screen and (max-width: 780px) {
  .grid_item {
    display: flex;
    grid-template-columns: unset;
    justify-items: unset;
    flex-wrap: wrap;
  }
  .filter_search {
    display: none;
  }
  .filter_mobile {
    display: block !important;
    .filter_btn_mobile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px 25px;
      height: 38px;
      left: 48px;
      top: 110px;
      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      text-transform: uppercase;
      background: $persian-red-color;
      border-radius: 4px;
      color: #fff;
      border: none;
      margin: 23px;
    }
  }
  .search_field {
    margin-right: 15px !important;
    .search_icon_size {
      margin-left: 17px !important;
    }
    .search_input {
      width: 212px !important;
      padding-left: 45px !important;
    }
  }
  .search_card {
    margin: unset;
  }
}

.filter_btn {
  background: $persian-red-color;
  border-radius: 100px;
  color: #fff;
  cursor: default;
  &:hover {
    color: #fff;
  }
}

.closebtn {
  color: #fff;
  cursor: pointer;
}

.grid_template {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  @media only screen and (max-width: 780px) {
    grid-template-columns: 1fr 1fr;
  }
}
