@import '../../styles/variables.scss';

.single_product_info {
  padding-top: 54px;
}

@media only screen and (max-width: 780px) {
  .single_product_info {
    padding: unset;
    padding-top: 90px;
    .single_product {
      margin: auto;
      margin-bottom: 36px;
    }
  }
}
