@import '../../styles/variables.scss';

.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  color: $light-black;
}
.card_text {
  font-size: 12px;
  line-height: 160%;
  color: $light-gray;
}

.promo_code_text {
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  color: #b4b4b4;
  padding-bottom: 5px;
}

.holes_lower {
  position: relative;
  border-top: 1px dashed $silver_color;
  &:before,
  &:after {
    content: '';
    height: 25px;
    width: 25px;
    background-color: $grey-7d;
    position: absolute;
    border-radius: 50%;
  }

  &:before {
    top: -13px;
    left: -13px;
  }
  &:after {
    top: -13px;
    right: -13px;
  }
}

.banner_ticket {
  position: relative;
  overflow: hidden;
  height: 48px;
  margin-bottom: 25px;
  &:before,
  &:after {
    content: '';
    display: block;
    background: $light;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  &:before {
    left: -9px;
  }
  &:after {
    right: -9px;
  }
}

.card_img {
  object-fit: contain;
  display: block;
  margin: auto;
  text-align: center;
}

.card_content {
  height: 120px;
}
