@import '../../styles/variables.scss';

.order_details_link {
  font-size: 14px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #9e9e9e !important;
}

.order_details_top {
  @media screen and (max-width: 768px) {
    margin-top: 100px;
  }
}
.order_details_header h3 a{
    margin: 0px 10px;
}
.order_details_header h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #2a2b2a;
  margin: 2.3rem 0 0 0;
  display: flex;
}
.return_quantity{
  width: 50px;
    margin: 10px;
}
.order_details_status {
  font-size: 14px;
  line-height: 150%;
  color: #9e9e9e;
}

.custom_table {
  table {
    th {
      font-size: 14px;
      line-height: 150%;
      color: #2a2b2a;
      font-weight: normal;
      padding-bottom: 15px;
      &:first-child {
        padding-left: 30px;
      }
      &:last-child {
        padding-right: 30px;
      }
    }

    tbody {
      box-shadow: 0 0 0 1px #c4c4c4;
      border-radius: 4px;
      background: #fcfcfc;
      tr {
        height: 148px;
        td {
          font-weight: normal;
          font-size: 18px;
          line-height: 150%;
          color: #2a2b2a;
          border-radius: 4px;
          border-top: 0.5px solid #c4c4c4;
          &:first-child {
            padding-left: 30px;
            border-top: none;
          }
          &:last-child {
            padding-right: 30px;
            border-top: none;
          }
        }
        &:first-child {
          border-top: none;
        }
      }
    }

    @media screen and (max-width: 768px) {
      th {
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
      tbody {
        box-shadow: none;
        border-radius: 0;
        border: 1px solid #c4c4c4;
      }
    }
  }
}

.font_weight_600 {
  font-weight: 600 !important;
}

.table_footer {
  height: 65px !important;
  td {
    border-top: 1px solid #c4c4c4;
  }
}
.table_footer_td {
  font-weight: 600 !important;
  text-transform: uppercase;
}

.card {
  background: #fcfcfc !important;
  border: 1px solid #c4c4c4 !important;
  box-sizing: border-box;
  border-radius: 4px;
}

.shipping_address {
  font-size: 14px;
  line-height: 150%;
  color: #838383;
}

.shipping_address_content {
  font-size: 14px;
  line-height: 150%;
  color: #2a2b2a;
}

.image_detail {
  position: relative;
  height: 100px;
  width: 100px;
}

.custom_dropdown_menu {
  top: 60px;
  right: 0px;
  width: 14rem;
  // height: 215px;
  font-size: 14px;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(37, 38, 37, 0.1);
  border-radius: 0px;
  height: 215px;
  overflow-y: scroll;
  a {
    color:black;
    text-decoration: none;
    padding: 0px;
    white-space: normal;
  }
  &::after {
    content: '';
    display: inline-block;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 12px solid #ffffff;
    position: absolute;
    top: -5px;
    // right: 26px;
  }
}

.custom_dropdown_item {
  padding: 1.2rem 0.5rem;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  // color: $light-gray;
  &:hover,
  &:focus {
    color: #c62828;
    // background-color: #201d1d;
  }
}
.reason{
  font-size: 12px;
  padding: 10px;
  margin: 10px;
  height: 40px;
}
.confirm_return_button{
  text-align: center;
  padding: 10px;
}
.sub_max{
  font-size: 12px;
}