@import '../../styles/variables.scss';
.search_product_item {
  margin: 18px 20px 24px 18px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  cursor: pointer;
  .product_image {
    width: 200px;
    height: 166px;
    // background: #d2d2d2;
    .badge_box {
      float: right;
      position: relative;
      bottom: 31px;
      .badge {
        width: 48px;
        height: 23px;
        font-weight: 300;
        font-size: 10px;
        line-height: 15px;
        display: flex;
        align-items: center;
        border-radius: 0;
      }
    }
  }
}
.product_icon_heart {
  position: absolute;
  z-index: 10;
  margin-left: 187px;
  font-size: 26px;
  color: #3a4468;
  margin-top: 18px;
}
.product_detail {
  padding-left: 0;
  padding-top: 8px;
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .product_title {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    align-items: center;
    text-transform: uppercase;
    color: $light-black;
  }
  .product_text {
    font-weight: 300;
    font-size: 12px;
    line-height: 180%;
    align-items: center;
    color: $light-gray;
  }
  .product_price {
    span {
      font-weight: 300;
      font-size: 14px;
      line-height: 15px;
      align-items: center;
      color: $light-black;
      .price {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        align-items: center;
        color: $light-black;
      }
    }
    small {
      font-weight: 300;
      font-size: 10px;
      line-height: 15px;
      text-decoration-line: line-through;
      text-transform: uppercase;
      color: #bdbdbd;
      padding-left: 5px;
    }
  }
}

@mixin search_common {
  .search_product_item {
    flex-direction: row;
    .product_image {
      width: 96px;
      height: 72px;
      .badge_box {
        position: relative;
        bottom: 25px;
        .badge {
          font-size: 8px;
          line-height: 12px;
          color: $light;
          width: 40px;
          height: 16px;
        }
      }
    }
  }
  .product_icon_heart {
    position: absolute;
    width: 17px;
    z-index: 9;
    margin-left: 92px;
    margin-top: 0;
    font-size: 17px;
  }
  .product_detail {
    padding-left: 14px;
    padding-top: 8px;
    .product_price {
      span {
        font-size: 14px;
        .price {
          font-size: 12px;
        }
      }
    }
  }
}

.oveerly_serach {
  @include search_common;
}

.product_wishlist {
  @media only screen and (max-width: 780px) {
    margin-bottom: 21px;
  }
  .search_product_item {
    flex-direction: row;
    margin: 0 !important;
    .product_image {
      width: 150px;
      height: 112px;
      background: #d2d2d2;
      @media only screen and (max-width: 780px) {
        width: 100px;
        height: 68px;
      }
      .badge_box {
        position: relative;
        bottom: 24px;
        @media only screen and (max-width: 780px) {
        }
        .badge {
          font-size: 8px;
          line-height: 12px;
          color: $light;
          width: 100%;
          height: 16px;
        }
      }
    }
  }
  .product_detail {
    padding-left: 14px;
    padding-top: 21px;
    @media only screen and (max-width: 780px) {
      padding-top: 0px;
    }
    .product_price {
      span {
        font-size: 14px;
        .price {
          font-size: 12px;
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  @include search_common;
}
