@import '../../styles/variables.scss';

.shipping_header {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: $light-black;
}
.radioButton {
  height: 70px;
  background: $snow_color;
  border: 1px solid $silver_color;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 48px;
  margin-top: 23px;
  input {
    border-radius: 50% !important;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
  }
  label {
    padding-left: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none !important;
  }
}
.payment_button {
  width: 308px;
  height: 49px;
  background: $persian-red-color;
  border-radius: 4px;
  border: hidden;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: $light;
  float: right;
  margin-bottom: 12px;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@media screen and (max-width: 768px) {
  .shipping_main {
    padding-right: 12px;
  }
  .payment_button {
    width: 100%;
  }
  .radioButton {
    label {
      font-size: 14px;
    }
  }
  .shipping_header {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
  }
}
