@import '../../styles/variables.scss';

.product_header {
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
  color: $light-black;
}

.product_reviw_rating {
  display: flex;
  .star_icon {
    color: $Fuel-Yellow;
  }
  .product_rating_star {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: $Grey;
    border-right: 1px solid $Grey;
    margin: 10px;
  }
  .product_rating {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: $Grey;
    border-right: 1px solid $Grey;
  }
  .product_review {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: $Grey;
  }
}

.product_details {
  width: 394px;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: $hex-grey;
  .read_more {
    font-style: italic;
    font-weight: 400;
    color: $persian-red-color;
    padding-left: 4px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 780px) {
  .product_details {
    width: auto;
  }
  .product_reviw_rating {
    display: block;
    .product_rating_star {
      border: none;
    }
  }
}
