@import '../../../styles/variables.scss';

.title_name {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: $light-black;
  svg * {
    stroke: $persian-red-color;
  }
}

.profile_text {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: $light-gray;
  svg * {
    stroke: $persian-red-color;
  }
}

.rectangle {
  margin: 32px 0;
  height: 1px;
  background: $border-light;
  padding-left: 0;
}

.save_btn {
  margin-top: 33px;
  height: 48px;
  width: 100%;
  color: $light;
  background: $persian-red-color;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  &:disabled {
    color: #b5b5b5;
    background: #e4e4e4;
  }
}

.form_input {
  padding-top: 1.375rem;
  button {
    margin-top: 30px;
    height: 48px;
    min-width: 207px;
    color: $light;
    background: $persian-red-color;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    &:disabled {
      color: #b5b5b5;
      background: #e4e4e4;
    }
  }
}
.close_account {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-decoration-line: underline;
  color: #dc5151;
}

.user_circle {
  width: 29px;
  height: 29px;
  background: #dedede;
  border: 2.5px solid $light;
  left: 100px;
  position: relative;
  bottom: 44px;
  border-radius: 50%;
  i {
    top: 3px;
    position: absolute;
    left: 2px;
    color: #7d7d7d;
  }
}

.methods_payment {
  margin: 12px 0;
  .methods {
    padding: 21px;
    border-radius: 4px;
    border: 1px solid $border-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 765px) {
  .title_name {
    text-align: center;
  }
  .mobile_text {
    display: grid !important;
    justify-items: center;
  }
  .rectangle {
    width: 100%;
  }
  .form_input {
    button {
      margin-top: 0;
      min-width: 100%;
    }
  }
  .close_account {
    text-align: center;
  }
  .mobile_image {
    display: flex;
    justify-content: center;
  }
  .user_circle {
    position: absolute;
    margin-left: 95px;
    margin-top: 100px;
    left: inherit;
    bottom: inherit;
  }
}
