@import '../../styles/variables.scss';

.product_price {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: $light-black;
}
.price_count {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  text-transform: uppercase;
  color: $light-black;
  s {
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    padding-left: 12px;
    color: $Hex-Gray74;
  }
}
.counter_btn {
  background: $light-red-color;
  border: 1px solid $persian-red-color;
  box-sizing: border-box;
  border-radius: 4px;
  color: $persian-red-color;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@media only screen and (max-width: 780px) {
  .price_count {
    font-size: 30px;
    line-height: 45px;
    s {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
