.header_review {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #2a2b2a;
}
.address_info {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #2a2b2a;
}
.detail_address {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fcfcfc;
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #838383;
}
.detail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #2a2b2a;
  word-wrap: break-word;
}
.pay_method {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #2a2b2a;
}
.order_button {
  width: 206px;
  height: 49px;
  background: #3a4468;
  border-radius: 4px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  float: right;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
.pay_charge {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
.separator {
  background-color: #e8e8e8;
  opacity: 1.25 !important;
}
.billing_phone {
  padding-bottom: 6rem;
}
@media screen and (max-width: 768px) {
  .order_button {
    width: 100%;
  }
}
