@import '../../styles/variables.scss';

.product_detail_header {
  width: 174px;
  height: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $light-black;
  display: flex;
  align-items: center;
}

.rating_header {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.product_review_btn {
  width: 115px;
  height: 38px;
  font-size: 12px;
  background: $light-red-color;
  border-radius: 4px;
  color: $persian-red-color;
  font-weight: 600;
  line-height: 120%;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.viewallreview_btn {
  width: 137px;
  height: 38px;
  background: $persian-red-color;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 129%;
  color: $light;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  float: right;
  margin-bottom: 10px;
  &:focus,
  &:active,
  &:hover {
    background-color: $persian-red-color;
    border-color: $persian-red-color;
    color: $light;
    box-shadow: none !important;
  }
}

@media only screen and (max-width: 780px) {
  .product_review_btn {
    width: 87px;
    height: 29px;
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    right: 16px;
  }
}

.product_h {
  margin: 25px 0;
  max-height: 345px;
  overflow-x: hidden;
}
