@import '../../styles/variables.scss';

.guest_info {
  padding: 0;

  @media only screen and (max-width: 765px) {
    padding-top: 50px;
  }
}
.login_detail,
.login_info {
  padding-left: 30px;
  @media only screen and (max-width: 765px) {
    padding-left: 0px;
  }
  @media only screen and (min-width: 765px) {
    form div input {
      padding-left: 10px;
    }
  }
}

.login_header {
  font-weight: Bold;
  font-size: 24px;
  line-height: 100%;
  color: $light-black;
  text-transform: uppercase;
}
.login_info {
  max-width: 532px;
  @media only screen and (max-width: 765px) {
    text-align: center;
  }
}
.description {
  font-size: 18px;
  font-style: normal;
  line-height: 150%;
  color: $light-black;
}
.continue_btn {
  width: 245px;
  height: 49px;
  background-color: $persian-red-color;
  color: $light;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  @media only screen and (max-width: 765px) {
    width: 100%;
  }
}
.create_account {
  font-size: 18px;
  line-height: 150%;
  float: right;
  a {
    color: $persian-red-color !important;
    text-decoration: underline !important;
    cursor: pointer !important;
    padding-left: 10px;
  }
  @media only screen and (max-width: 765px) {
    float: inherit;
    padding-bottom: 20px;
  }
}
.btn_singin {
  text-align: right;
  @media only screen and (max-width: 765px) {
    padding-top: 20px;
  }
}
.login_btn {
  width: 153px;
  height: 49px;
  background-color: $persian-red-color;
  color: $light;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  justify-content: center;
  @media only screen and (max-width: 765px) {
    width: 100%;
  }
}
.forgot_password {
  text-align: right;
  margin-top: 19px;
  a {
    color: $persian-red-color !important;
    text-decoration: underline !important;
    cursor: pointer !important;
  }
  @media only screen and (max-width: 765px) {
    span::before {
      content: '\a';
      $light-space: pre;
    }
    text-align: center;
  }
}
.inputField_inputField__3BleL {
  padding-left: 12px !important;
}

@media only screen and (min-width: 765px) {
  .wrapper {
    position: relative;
    height: 350px;
    margin: 10px;
  }

  .line {
    position: absolute;
    left: 49%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: $light-shade-gray;
    z-index: 1;
  }

  .wordwrapper {
    text-align: center;
    height: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -12px;
    z-index: 2;
  }

  .word {
    color: $light-shade-gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px;
    font: bold 12px arial, sans-serif;
    background: $light;
  }
}

@media only screen and (max-width: 765px) {
  .line {
    position: relative;
    text-align: center;
    margin-bottom: 21px;
    &:after {
      content: '';
      border-bottom: 1px solid $light-gray-silver;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
    }
    span {
      padding: 0 8px;
      background-color: $light;
      position: relative;
      color: $light-gray-silver;
      font-size: 12px;
      z-index: 1;
    }
  }
}
.guest_container {
  padding-bottom: 10rem !important;
  padding-top: 5rem !important;
}
