@import '../../../styles/variables.scss';

.title_name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: $light-black;
  svg * {
    stroke: $persian-red-color;
  }
}
.mobile_title_name {
  display: grid;
  grid-template-columns: 25px 1fr;
  margin-top: 1.5rem;
  text-align: center;
}

.address_box {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.address_content {
  width: calc(45%);
  padding-bottom: 32px;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.address_text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: $light-gray;
}

.address_content_pedding {
  padding: 0.5rem 1.25rem;
  display: flex;
}

.address_type_text {
  font-weight: 300;
  font-size: 13px;
  line-height: 150%;
  color: $light-black;
}

.address_wrapper {
  overflow: auto;
  border: 1px solid #e3e3e3;
  height: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.rectangle {
  margin: 32px 0;
  height: 1px;
  background: $border-light;
  width: 90%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.btn_end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
.btnaddaddress {
  background: $light-red-color;
  border-radius: 4px;
  width: 176px;
  height: 49px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: $persian-red-color;
  border: none;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
