.footer {
  min-height: 345px;
  background: #3a4468;
  padding: 55px 48px 0 48px;
  // position: absolute;
  width: 100%;
  bottom: 0;
}
.footer_usefullink {
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 240%;
  text-transform: uppercase;
  color: #ffffff;
}
.footer_hrline {
  border: 1px solid rgba(136, 136, 136, 0.16);
  color: rgba(255, 255, 255, 0.24);
}
@media only screen and (max-width: 420px) {
  .footer {
    padding: 16px;
    position: inherit;
  }
}
