@import '../../styles/variables.scss';

.menuitem {
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: $dark;
  padding: 0.5rem 0;
  &:hover {
    color: $persian-red-color;
    font-weight: 700;
  }
}
.active {
  color: $persian-red-color;
  font-weight: 700;
}

.wrapper {
  height: 100%;
  padding-left: 2rem;
  padding-top: 1.625rem;
}

.menu_header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1.625rem;
  border-bottom: 1px solid $border-light;
  height: 76px;
}

.menu_welcome {
  font-weight: 300;
  font-size: 10px;
  display: flex;
  align-items: center;
  color: $dark;
}
.menu_name {
  font-weight: 500;
  font-size: 15px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: $dark;
}

.btnlogout {
  min-width: 129px;
  height: 49px;
  background: $light-red-color;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: $persian-red-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
