@import '../../styles/variables.scss';

.about_info_section {
  padding: 40px 0;
}
.about_info_left {
  max-width: 450px;
}

@media (max-width: 991.98px) {
  .about_info_left {
    max-width: 100%;
  }
}

.about_info_left p {
  font-size: 14px;
  line-height: 150%;
  color: $hex-grey;
}

.about_info_left h5,
.about_info_left .h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  color: $light-black;
  margin-top: 16px;
  margin-bottom: 30px;
}

@media (max-width: 991.98px) {
  .about_info_left h5,
  .about_info_left .h5 {
    margin-bottom: 54px;
    font-size: 16px;
  }
}

.about_info_left .btn {
  font-size: 14px;
}
@media (max-width: 991.98px) {
  .about_info_right {
    margin-top: 54px;
  }
}

.about_info_right p {
  font-size: 14px;
  line-height: 150%;
  color: $hex-grey;
}

.about_info_right h4,
.about_info_right .h4 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  line-height: 150%;
  color: $light-black;
  margin-top: 16px;
  margin-bottom: 24px;
}

@media (max-width: 991.98px) {
  .about_info_right h4,
  .about_info_right .h4 {
    margin-bottom: 30px;
    font-size: 22px;
  }
}
.button_join {
  width: 123px;
  height: 48px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $light;
  background: $persian-red-color;
  border-radius: 4px;
  border: none !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &:focus,
  &:active,
  &:hover {
    color: $light;
    background-color: $persian-red-color;
    border-color: $persian-red-color;
  }
}
.button_watch {
  width: 163px;
  height: 48px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $persian-red-color;
  background: $light;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-color: $persian-red-color;
  border-radius: 4px;
  &:focus,
  &:active,
  &:hover {
    color: $light;
    background-color: $persian-red-color;
    border-color: $persian-red-color;
  }
}
