.header {
  height: 80px;
  background: #3a4468;
  // background: #7b1318;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000000;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  position: unset;
  // position: fixed !important;
}
.header_link {
  margin-top: 9px;
  margin-left: 48px;
  color: #ffff !important;
}
@media only screen and (max-width: 415px) {
  .header_link {
    margin-left: 32px;
  }
  .header {
    box-shadow: none;
    border: none;
    box-sizing: initial;
  }
}
