@import '../../../styles/variables.scss';

.title_name {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: $light-black;
  svg * {
    stroke: $persian-red-color;
  }
}
.mobile_title_name {
  display: grid;
  grid-template-columns: 25px 1fr;
  margin-top: 1.5rem;
  text-align: center;
}
.methods_payment {
  margin: 12px 0;
  .methods {
    padding: 21px;
    border-radius: 4px;
    border: 1px solid $border-light;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.rectangle {
  margin: 49px 0 32px 0;
  height: 1px;
  background: $border-light;
  padding-left: 0;
  @media screen and (max-width: 768px) {
    margin: 32px 0;
  }
}
