@import '../../styles/variables.scss';

.button {
  border-radius: 4px;
  width: 136px;
  height: 41px;
  color: $light-gray;
  background: transparent;
  border: 1px solid $light-gray;
  box-sizing: border-box;
  box-shadow: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  margin: 32px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #ffffff;
    color: #000;
    border-color: #ffffff;
  }
}
.main_content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 240%;
  color: $light-gray;
}
.sub_content {
  padding: 4px 0;
}
