@import '../../styles/variables.scss';

.ratings {
  display: flex;
  flex-wrap: nowrap;
}
.custom_images {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 0;
  position: relative;
}
.customer_name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: $Nero;
  small {
    font-weight: 300;
    font-size: 9px;
    line-height: 150%;
    color: $hex-grey;
    padding-left: 4px;
  }
}
.customer_star_icon {
  color: $Fuel-Yellow;
  font-size: 13px;
}
.customer_details {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: $hex-grey;
}
