@import '../../styles/variables.scss';

.hero_banner_sm {
  background-image: url('../../public/assets/images/banner08.jpg');
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  background-color: $persian-red-color;
  min-height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @media (max-width: 991.98px) {
    min-height: 140px;
    margin-top: 70px;
  }
}

.Promotion_Banner_section {
  background-color: $grey-7d;
  padding: 48px 58px;
  @media (max-width: 991.98px) {
    padding: 48px 15px;
  }
}

.special_promo_text {
  text-align: left;
  font-size: 24px;
  line-height: 120%;
  color: $light;
  @media (max-width: 991.98px) {
    font-size: 10px;
  }
}
.special_promo_title {
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  color: $light;
  text-align: left;
  @media (max-width: 991.98px) {
    font-size: 18px;
  }
}

.special_promo_off {
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  color: #b02020;
  background-image: url('../../public/assets/icons/rectangle.png');
  width: 344px;
  height: 67px;
  position: relative;
  padding: 10px 0 0 0;
  top: -10px;

  @media (max-width: 991.98px) {
    width: 150px;
    height: 40px;
    font-size: 18px;
  }
}
