@import '../../styles/variables.scss';

.main_title {
  margin: 65px 0 50px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 160%;
  text-transform: uppercase;
  color: $persian-red-color;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
  color: $light-black;
}

.content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: $hex-grey;
}

.wrapper {
  position: relative;
  height: 40px;
  overflow: hidden;
  svg {
    width: 100%;
    @media screen and (max-width: 800px) {
      width: auto;
    }
  }
}
