@import '../../../styles/variables.scss';

.forget_pwd {
  float: right;
  color: $light-gray;
  cursor: pointer;
  a {
    font-size: 14px;
    line-height: 150%;
    color: #7d7d7d;
    text-decoration: none;
  }
}

.line {
  position: relative;
  text-align: center;
  margin-top: 21px;
  &:after {
    content: '';
    border-bottom: 1px dashed #c0c0c0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
  }
  span {
    padding: 0 8px;
    background-color: white;
    position: relative;
    color: #c0c0c0;
    font-size: 12px;
    z-index: 1;
  }
}

.social_media {
  margin-top: 31px;
}
.social_btn {
  background: #f0f0f0;
  border: 0;
  color: $light-gray;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  height: 46px;
  width: 165px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px;
  margin-left: 15px;
  z-index: 1;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    color: $light-gray;
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    box-shadow: 0 0 0 0.25rem #f0f0f0;
  }
}
.login_btn {
  height: 49px;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  background: $persian-red-color;
  border-color: $persian-red-color;
  justify-content: center;
  &:focus,
  &:active,
  &:hover {
    background-color: $persian-red-color;
    border-color: $persian-red-color;
    color: #fff;
    box-shadow: none !important;
  }
}
.signup_Account {
  z-index: 1;
}
.icon_WildFire {
  position: absolute;
  bottom: -8px;
  right: 0;
  filter: grayscale(100%);
}
