@import '../../../styles/variables.scss';

.modal_width {
  max-width: 100% !important;
  width: 100%;
  input {
    padding-left: 0.75rem;
  }
}
.popup_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 78%;
  text-transform: uppercase;
  color: $light-black;
}

.btnaddaddress {
  background: $persian-red-color;
  border-radius: 4px;
  width: 176px;
  height: 49px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: $light;
  border: none;
  margin-top: 25px;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}
