@import '../../styles/variables.scss';
.form_label {
  color: $light-gray;
}
.inputField {
  padding-left: 48px;
  height: 48px;
  &:focus {
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgb(244 245 247);
    box-shadow: 0 0 0 0.25rem rgb(251 251 251);
  }
}
.input_left_icon {
  color: $light-gray;
  display: flex;
  position: absolute;
  z-index: 1;
  padding: 17px 13px;
  font-size: 22px !important;
}
