@import '../../styles/variables.scss';

.product_reviw_rating {
  display: flex;
  .star_icon {
    color: $Fuel-Yellow;
  }
  .product_rating_star {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: $Grey;
    border-right: 1px solid $Grey;
    margin: 10px;
  }
  .product_rating {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: $Grey;
    // border-right: 1px solid $Grey;
  }
  .product_review {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: $Grey;
  }
}

@media only screen and (max-width: 780px) {
  .product_reviw_rating {
    display: block;
    .product_rating_star {
      border: none;
    }
  }
}
