.StepperContainer {
  padding: 60px 0 !important;
  justify-content: space-between !important;
  @media screen and (max-width: 768px) {
    padding: 120px 0 60px 0 !important;
  }
}

.stepper_main {
  @media screen and (min-width: 768px) {
    padding: 0 60px !important;
  }
}
.stepper_main {
  @media screen and (max-width: 1024px) {
    padding: 0 22px !important;
  }
}
