@import '../../styles/variables.scss';

.product_detail_box {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
  border-bottom: 1px solid $mono-color-hex;
  svg {
    width: 88px;
    height: 60px;
  }
  .product_image {
    max-width: 88px;
    height: 60px;
  }
  .product_name {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $light-black;
  }
  .product_variant {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $hex-grey;
  }
  .counter_btn {
    background: $light-red-color;
    border: 1px solid $persian-red-color;
    box-sizing: border-box;
    border-radius: 4px;
    color: $persian-red-color;
    width: 26px !important;
    height: 26px !important;
    margin: 14px;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
  .count {
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: $light-black;
  }
  .count_x {
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    text-transform: uppercase;
    color: $silver-color-hex;
  }
  .product_price {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: $light-black;
  }
  .product_total {
    text-align: end;
    float: right;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $light-black;
  }
}
.transLogo {
  svg {
    width: 31px;
    height: 46px;
  }
}

@media only screen and (max-width: 780px) {
  .product_detail_box {
    width: auto;
    .product_name {
      font-size: 13px;
    }
    .product_variant {
      font-size: 13px;
    }
    .counter_btn {
      width: 18px !important;
      height: 18px !important;
      margin: 6px;
      text-align: center;
      line-height: 18px;
      padding: 0px;
    }
    :first-child span {
      font-size: 13px;
    }
    .product_total {
      font-size: 13px;
    }
  }
}
