@import '../../styles/variables.scss';

.menu_backdrop {
  opacity: 0.3;
  z-index: 7;
  background: rgba(199, 207, 207, 0.8);
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  display: none;
}

.sidenav {
  height: 700px;
  top: 80px;
  min-width: 276px;
  position: absolute;
  z-index: 8;
  left: -320px;
  background-color: $light;
  transition: 0.5s;
  padding: 0 17px;
  // overflow: auto;
}

.rectangle {
  border-bottom: 1px solid $border-light;
  padding-bottom: 17px;
}

.menuitem {
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  color: $dark;
  padding: 0.5rem 0;
  &:hover {
    color: $persian-red-color;
    font-weight: 700;
  }
}
.active {
  color: $persian-red-color;
  font-weight: 700;
}

.menu_welcome {
  font-weight: 300;
  font-size: 10px;
  display: flex;
  align-items: center;
  color: $dark;
}
.menu_name {
  font-weight: 500;
  font-size: 15px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: $dark;
}

.btnclose {
  font-size: 36px;
  color: $hex-light-grey;
  cursor: pointer;
}

.btnlogout {
  min-width: 129px;
  height: 49px;
  background: $light-red-color;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: $persian-red-color;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
