@import '../../styles/variables.scss';
.product_detail_header {
  width: 174px;
  height: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $light-black;
  display: flex;
  align-items: center;
}
.fieldset_option {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 0;
  @media (max-width: 1025px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    button {
      margin-bottom: 5px;
    }
  }
}

.product_size_btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $light-black;
  padding: 0;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    color: $persian-red-color;
  }
}
.active {
  box-shadow: inset 0 0 0 2px $light !important;
  border: 2px solid $light-black !important;
}
.counter_btn {
  background: $light;
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  border-radius: 4px;
  color: $light-black;
  height: unset;
  padding: 8px 16px;
  &:focus {
    box-shadow: none;
  }
  &:hover {
    color: $light-black;
  }
}
.counter_btn_active {
  background-color: $light-black !important;
  border-color: $light-black;
  color: $light !important;
}
