@import './variables.scss';
.custom_button .btn {
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px 32px;
    display: inline-flex;
    align-items: center;
    height: 60px;
    box-shadow: none !important;
  
    @include media-breakpoint-down(lg) {
      font-size: 14px;
      padding: 4px 16px;
      height: 52px;
    }
  
    &-sm {
      height: 48px;
    }
  
    &-xs {
      height: 38px;
    }
  
    &-secondary {
      color: $primary;
    }
  
    &-outline-primary {
      background-color: rgba($color: $primary, $alpha: 0.12);
    }
  
    &-dark {
      background-color: $dark;
      color: $white;
    }
  
    &-light {
      border-color: $primary;
      background-color: $white;
      color: $primary;
    }
  
    &-info {
      border-color: $white-f0;
      background-color: $white-f0;
      color: $grey-6c;
  
      &:hover,
      &:focus,
      &:active {
        border-color: $white-f5;
        background-color: $white-f5;
        color: $grey-6c;
      }
    }
  }