@import './scss/app.scss';
@import 'react-toastify/dist/ReactToastify.css';
@import 'react-multi-carousel/lib/styles.css';

@import './button.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
}
.pointer {
  cursor: pointer;
}

.pl-58 {
  padding-left: 58px;
  @media screen and (max-width: 768px) {
    padding-left: 0;
  }
}

.custom_scrollbar {
  ::-webkit-scrollbar {
    width: 6px !important;
    height: 24px !important;
  }

  ::-webkit-scrollbar-track {
    background: #e9e9e9;
  }

  ::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 1000px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #c9c9c9;
  }
}

.about_section {
  padding: 70px 0 0px;
}
@media (max-width: 991.98px) {
  .about_section {
    padding: 20px 0 0px;
  }
}
.about_section .col-lg-4:not(:last-child) .about_feature_content:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border-right: 1px dashed #7d7d7d;
  top: 0;
  right: -26px;
}

@media (max-width: 1399.98px) {
  .about_section .col-lg-4:not(:last-child) .about_feature_content::after {
    right: -12px;
  }
}

@media (max-width: 991.98px) {
  .about_section .col-lg-4:not(:last-child) .about_feature_content::after {
    right: 0;
    left: 0;
    bottom: 0;
    border-right: 0;
    border-bottom: 1px dashed #7d7d7d;
    width: 150px;
    margin: 0 auto;
  }
}
.about_feature_content {
  max-width: 390px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 991.98px) {
  .about_feature_content {
    padding-bottom: 30px;
  }
}

.about_feature_content h4,
.about_feature_content .h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2a2b2a;
  margin-top: 24px;
  margin-bottom: 16px;
}

@media (max-width: 991.98px) {
  .about_feature_content h4,
  .about_feature_content .h4 {
    margin-bottom: 20px;
  }
}

.about_feature_content p {
  color: #7d7d7d;
}

@media (max-width: 991.98px) {
  .about_feature_content p {
    font-size: 14px;
    max-width: 255px;
    margin: 0 auto;
  }
}
/* ABOUT SECTION */
.about_short_section .row {
  border-top: 1px solid #7d7d7d;
  padding-top: 40px;
  padding-bottom: 32px;
}

@media (max-width: 991.98px) {
  .about_short_section .row {
    padding-top: 15px;
    padding-bottom: 30px;
  }
}
.about_short_right {
  position: relative;
  height: 100%;
  padding: 16px 0 35px 46px;
}

@media (max-width: 991.98px) {
  .about_short_right {
    border-top: 1px solid #7d7d7d;
    margin-top: 50px;
    padding: 32px 40px 0 0;
    height: auto;
  }
}

.about_short_right:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 0;
  background-color: #7d7d7d;
}

@media (max-width: 991.98px) {
  .about_short_right:before {
    content: none;
  }
}

.about_short_right p {
  font-size: 14px;
  color: #7d7d7d;
}

.about_short_right h6,
.about_short_right .h6 {
  font-family: 'Playfair Display', serif;
  color: #2a2b2a;
  line-height: 150%;
  font-size: 24px;
}
#store-logo div {
  max-width: 50% !important;
  height: 50% !important;
}
#store-logo {
  cursor: default !important;
}
.storefront_store_rating_wrap {
  height: 26px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 26px;
  padding: 5px 10px;
}

.storefront_store_rating_wrap span {
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.isProduct {
  bottom: 0px !important;
}
.order_detail_active {
  overflow-y: hidden;
  overflow-x: scroll;
}

// .top-brand-video-image {
//   .react-player__preview {
//     img {
//       display: none !important;
//     }
//   }

// }
#store_list_id {
  .react-player__preview {
    height: 360px !important;

    @media (max-width: 991.98px) {
      height: 230px !important;
    }
  }
}
.react-player__preview ~ #new-arrival-videoid {
  display: none !important;
}

// .new-arrival-video-play ~ .react-player__preview{
//   display:none;
// }

.loading-indicator:before {
  content: '';
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.25) url('../public/assets/icons/loader.svg')
    no-repeat center center / 50px;
}

.loading-indicator:after {
  content: '';
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 1001;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
