$persian-red-color: #3a4468 !default;
$dark_red: #272f4b !default;
$light-red-color: #adb9c7 !default;
$light: #ffffff !default;
$light-black: #272f4b !default;
// $light-grey: #d2d2d2 !default;
$hex-light-grey: #d3d3d3 !default;
$hex-grey: #adb9c7 !default;
$hex-Whisper: #e7e7e7 !default;
$Hex-Gray74: #bdbdbd !default;
$dark: #252625 !default;
$border-light: #e8e8e8 !default;
$light-gray: #adb9c7 !default;
$Grey: #7a7a7a !default;
$Nero: #1d1d1d !default;
$Fuel-Yellow: #e9ca2b !default;
$mono-color-hex: #e6e6e6 !default;
$silver-color-hex: #b9b9b9 !default;
$light-gray-silver: #c0c0c0 !default;
$light-shade-gray: #c0c0c0 !default;
$dark_gray_color: #a7a7a7 !default;
$snow_color: #fcfcfc !default;
$silver_color: #c4c4c4 !default;
$Nobel_color: #9c9c9c !default;
$gainsboro_color: #e2e2e2 !default;
$hex_gainsboro_color: #dbdada !default;
$night_rider_color: #323232 !default;
$brown_color: #b73030 !default;
$dark-m: #272f4b !default;
$grey-e8: #e8e8e8 !default;
$grey-b8: #b8b8b8 !default;
$white-f0: #f0f0f0 !default;
$grey-6c: #6c6c6c !default;
$grey-e8: #e8e8e8 !default;
$grey-b8: #b8b8b8 !default;
$white-f0: #f0f0f0 !default;
$white-f5: #f5f5f5 !default;
$grey-7d: #b8b8b8 !default;
