@import '../../styles/variables.scss';

.title_xl {
  font-size: 64px;
}
.fw_bold {
  font-weight: 700 !important;
}

@media (max-width: 991.98px) {
  .title_xl {
    font-size: 24px;
  }
}

.about_content {
  max-width: 510px;
}

.about_content h2,
.about_content .h2 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.08em;
  color: $light-black;
}

@media (max-width: 991.98px) {
  .about_content h2,
  .about_content .h2 {
    margin-top: 20px;
    font-size: 14px;
  }
}

.about_content p {
  font-size: 16px;
  line-height: 160%;
  color: $hex-grey;
  margin-top: 24px;
}

@media (max-width: 991.98px) {
  .about_content p {
    margin-top: 16px;
    font-size: 14px;
  }
}

.about_content p a {
  text-decoration: underline;
  color: $light-black;
}

.about_content p a:hover {
  text-decoration: none;
}
.about_image {
  margin-top: 70px;
  margin-bottom: 105px;
}

@media (max-width: 991.98px) {
  .about_image {
    margin-top: 10px;
    margin-bottom: 45px;
  }
}
.about_feature {
  text-align: center;
  position: relative;
}

@media (max-width: 991.98px) {
  .about_feature {
    padding-bottom: 30px;
  }
}
