.icon_size {
  width: 50px !important;
  height: 50px !important;
  margin: 12px !important;
  padding-top: 12px;
  text-align: center;
  &:hover {
    background-color: #434f78;
    border-radius: 100%;
  }
}
.pointer {
  cursor: pointer !important;
}
.badge_count {
  margin: 0 10px;
  position: absolute;
  top: 20px;
  border-radius: 50%;
  padding: 4px 6px;
  background-color: #d73939;
  color: #fff;
  z-index: 2;
  font-weight: 500;
  font-size: 11px;
  line-height: 100%;
}

.custom_login_user {
  background-color: #434f78;
  border-radius: 100%;
}

@media only screen and (max-width: 780px) {
  .search {
    display: none !important;
  }
}
