@import '../../styles/variables.scss';

.category_section {
  padding: 45px 0 165px;
}

@media (max-width: 991.98px) {
  .category_section {
    padding: 0 0 55px;
  }
}
.title_lg {
  font-size: 36px;
}

@media (max-width: 991.98px) {
  .title_lg {
    font-size: 30px;
  }
}
.NavTabs {
  max-width: 585px;
  -moz-box-pack: justify;
  justify-content: space-between;
  margin: 40px auto 50px !important;
  justify-content: space-between !important;
  border-bottom: 2px solid $hex_gainsboro_color !important;
}
.TabMenu {
  font-size: 24px;
  padding: 0 24px 16px;
  font-weight: 600;
  line-height: 150%;
  color: $light-black;
  text-transform: uppercase;
  &:hover,
  &:focus {
    border-color: none !important;
    color: $persian-red-color;
  }
}

@media (max-width: 991.98px) {
  .NavTabs .TabMenu {
    font-size: 18px;
    line-height: 27px;
    padding-left: 0;
    padding-right: 0;
  }
}

.category_list_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 176px;
  flex: 0 0 176px;
  width: 176px;
}

@media (max-width: 991.98px) {
  .category_list_item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 145px;
    flex: 0 0 145px;
    width: 145px;
  }
}
.category_list_item_image {
  border: 5px solid $persian-red-color;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  div {
    position: unset !important;
  }
  img {
    z-index: -1 !important;
  }
}

.category_list_item_image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.category_list_item_image:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $persian-red-color;
  opacity: 0;
}

.category_list_item_image:hover::before {
  opacity: 0.8;
}
.category_list_item p {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: $light-black;
  margin-top: 24px;
}

@media (max-width: 991.98px) {
  .category_list_item p {
    margin-top: 20px;
    margin-bottom: 36px;
  }
}
