.navbar_center {
  // position: absolute;
  // left: 50%;
  // transform: translatex(-50%);
  // @media screen and (min-width: 990px) and (max-width: 1200px) {
  //   left: 35%;
  //   transform: translatex(-35%);
  // }
}

.text {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 1.8rem 40px !important;
  color: #a1a1a1 !important;
  &:hover {
    color: #ffffff !important;
  }
}

.link_active {
  color: #ffffff !important;
  border-bottom: 2px solid #d73939 !important;
  text-decoration-line: none;
}

@media only screen and (max-width: 780px) {
  .menu {
    display: none !important;
  }
}
